# [ 모듈 로딩 및 데이터 준비 ]

In [1]:
import pandas as pd
import numpy as np
import func01
import openpyxl

In [2]:
file_Data = r'C:\Users\KDP-532\Desktop\KDT_7\02_PANDAS\DATA\2023.09_집계구 단위 업종별 지역화폐 거래 데이터.csv'

# 데이터를 한국어가 깨지지 않게 encoding='euc-kr'
# 컬럼명을 자동으로 지정되지 않게
# 데이터 타입이 string변수로 지정되게 설정

dataDF = pd.read_csv(file_Data, encoding='euc-kr',header=None,dtype=str)

dataDF

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,strd_date,strd_tizn_val,ctpr_nm,ccg_nm,adn_dgnm,tz_area_val,tz_area_lgd_cdn_val,tz_area_ltd_cdn_val,cardc_nm,tpbuz_cd,tpbuz_nm,bth_yr,sex_cd,trns_cnt,ttl_trns_amt
1,20230901,10,부산광역시,강서구,녹산동,21120560130001,128.847038704,35.092243393,부산,4010,편 의 점,1991,M,1,9600
2,20230901,0,부산광역시,북구,화명3동,21080630010001,129.008303100,35.239318487,QR,8001,일반한식,2000,F,1,56200
3,20230901,0,부산광역시,사하구,신평2동,21100590010003,128.962885589,35.091082543,코나,8021,스넥,1964,F,1,8500
4,20230901,10,부산광역시,강서구,가락동,21120550020002,128.901870535,35.183471330,부산,8006,서양음식,1968,M,1,3000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4756902,20230901,10,부산광역시,강서구,대저2동,21120520030003,128.952949660,35.150853651,하나,3308,현대정유(오일뱅크),1992,M,1,30000
4756903,20230901,10,부산광역시,강서구,대저2동,21120520030003,128.952949660,35.150853651,하나,8005,중국식,1974,M,1,12000
4756904,20230901,10,부산광역시,강서구,명지1동,21120590010106,128.916536735,35.095649502,QR,5101,외국어학원,1977,F,1,115000
4756905,20230901,10,부산광역시,강서구,명지1동,21120590010302,128.916944201,35.097849515,부산,8006,서양음식,1987,F,1,1500
4756906,20230901,10,부산광역시,강서구,명지1동,21120590020001,128.925573693,35.100886323,QR,5104,예·체능계학원,1978,M,1,130000

In [3]:
# columns명 지정
dataDF.columns = ['기준일자','기준시간','시도명','시군구명',
                  '행정동명','집계구코드','집계구중심 경도','집계구중심 위도',
                  '카드사 명칭','업종코드','업종명칭','생년','성별','거래횟수','총 거래금액']

# 0행을 삭제
dataDF = dataDF.drop(0)

# 불필요하거나 중복되는 데이터 제거
dataDF = dataDF.drop(columns=['시도명','기준시간','집계구코드','업종코드',
                              '집계구중심 경도','집계구중심 위도'])

# 데이터를 출력하여 확인
dataDF

             기준일자 시군구명  행정동명 카드사 명칭        업종명칭    생년 성별 거래횟수  총 거래금액
1        20230901  강서구   녹산동     부산       편 의 점  1991  M    1    9600
2        20230901   북구  화명3동     QR        일반한식  2000  F    1   56200
3        20230901  사하구  신평2동     코나          스넥  1964  F    1    8500
4        20230901  강서구   가락동     부산        서양음식  1968  M    1    3000
5        20230901  강서구   가락동     코나        서양음식  1983  M    1    3000
...           ...  ...   ...    ...         ...   ... ..  ...     ...
4756902  20230901  강서구  대저2동     하나  현대정유(오일뱅크)  1992  M    1   30000
4756903  20230901  강서구  대저2동     하나         중국식  1974  M    1   12000
4756904  20230901  강서구  명지1동     QR       외국어학원  1977  F    1  115000
4756905  20230901  강서구  명지1동     부산        서양음식  1987  F    1    1500
4756906  20230901  강서구  명지1동     QR     예·체능계학원  1978  M    1  130000

[4756906 rows x 9 columns]

[ 데이터 확인 ] <hr>

In [4]:
dataDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4756906 entries, 1 to 4756906
Data columns (total 9 columns):
 #   Column  Dtype
---  ------  -----
 0   기준일자    object
 1   시군구명    object
 2   행정동명    object
 3   카드사 명칭  object
 4   업종명칭    object
 5   생년      object
 6   성별      object
 7   거래횟수    object
 8   총 거래금액  object
dtypes: object(9)
memory usage: 326.6+ MB

In [5]:
func01.summary(dataDF, '부산 동백전')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4756906 entries, 1 to 4756906
Data columns (total 9 columns):
 #   Column  Dtype
---  ------  -----
 0   기준일자    object
 1   시군구명    object
 2   행정동명    object
 3   카드사 명칭  object
 4   업종명칭    object
 5   생년      object
 6   성별      object
 7   거래횟수    object
 8   총 거래금액  object
dtypes: object(9)
memory usage: 326.6+ MB
--[부산 동백전]--

        기준일자 시군구명  행정동명 카드사 명칭   업종명칭    생년 성별 거래횟수 총 거래금액
1  20230901  강서구   녹산동     부산  편 의 점  1991  M    1   9600
2  20230901   북구  화명3동     QR   일반한식  2000  F    1  56200
--[부산 동백전]--

              기준일자 시군구명  행정동명 카드사 명칭     업종명칭    생년 성별 거래횟수  총 거래금액
4756905  20230901  강서구  명지1동     부산     서양음식  1987  F    1    1500
4756906  20230901  강서구  명지1동     QR  예·체능계학원  1978  M    1  130000
--[부산 동백전]--

             기준일자     시군구명     행정동명   카드사 명칭     업종명칭       생년       성별  \
count    4756906  4756906  4756906  4756906  4756906  4756906  4756906
unique        30       16      205        6      199       95        2
top     20230927     부산진구     부전1동       코나    편 의 점     1981        F
freq      210288   662168    96957  1817882   739539   130857  2647845

           거래횟수   총 거래금액
count   4756906  4756906
unique       29    29590
top           1     4500
freq    4585068   145891

In [6]:
dataDF.describe(include='all')

,기준일자,시군구명,행정동명,카드사 명칭,업종명칭,생년,성별,거래횟수,총 거래금액
count,4756906,4756906,4756906,4756906,4756906,4756906,4756906,4756906,4756906
unique,30,16,205,6,199,95,2,29,29590
top,20230927,부산진구,부전1동,코나,편 의 점,1981,F,1,4500
freq,210288,662168,96957,1817882,739539,130857,2647845,4585068,145891

[ 데이터 전처리 ] <hr>

생년 데이터를 나이로 계산하여 나이 컬럼 추가 후 생년 컬럼 삭제

In [7]:
dataDF['생년'] = dataDF['생년'].astype(int)
year = 2025
dataDF['나이'] = year - dataDF['생년']

In [8]:
dataDF = dataDF.drop(columns=['생년'])

dataDF

             기준일자 시군구명  행정동명 카드사 명칭        업종명칭 성별 거래횟수  총 거래금액  나이
1        20230901  강서구   녹산동     부산       편 의 점  M    1    9600  34
2        20230901   북구  화명3동     QR        일반한식  F    1   56200  25
3        20230901  사하구  신평2동     코나          스넥  F    1    8500  61
4        20230901  강서구   가락동     부산        서양음식  M    1    3000  57
5        20230901  강서구   가락동     코나        서양음식  M    1    3000  42
...           ...  ...   ...    ...         ... ..  ...     ...  ..
4756902  20230901  강서구  대저2동     하나  현대정유(오일뱅크)  M    1   30000  33
4756903  20230901  강서구  대저2동     하나         중국식  M    1   12000  51
4756904  20230901  강서구  명지1동     QR       외국어학원  F    1  115000  48
4756905  20230901  강서구  명지1동     부산        서양음식  F    1    1500  38
4756906  20230901  강서구  명지1동     QR     예·체능계학원  M    1  130000  47

[4756906 rows x 9 columns]

총 거래금액 objecr -> int

In [9]:
dataDF['총 거래금액'] = dataDF['총 거래금액'].astype(int)

dataDF # < 기존 전처리 끝난 data frame

             기준일자 시군구명  행정동명 카드사 명칭        업종명칭 성별 거래횟수  총 거래금액  나이
1        20230901  강서구   녹산동     부산       편 의 점  M    1    9600  34
2        20230901   북구  화명3동     QR        일반한식  F    1   56200  25
3        20230901  사하구  신평2동     코나          스넥  F    1    8500  61
4        20230901  강서구   가락동     부산        서양음식  M    1    3000  57
5        20230901  강서구   가락동     코나        서양음식  M    1    3000  42
...           ...  ...   ...    ...         ... ..  ...     ...  ..
4756902  20230901  강서구  대저2동     하나  현대정유(오일뱅크)  M    1   30000  33
4756903  20230901  강서구  대저2동     하나         중국식  M    1   12000  51
4756904  20230901  강서구  명지1동     QR       외국어학원  F    1  115000  48
4756905  20230901  강서구  명지1동     부산        서양음식  F    1    1500  38
4756906  20230901  강서구  명지1동     QR     예·체능계학원  M    1  130000  47

[4756906 rows x 9 columns]

결측치 확인 -> 결측치 존재시, nan으로 처리하여 drop

In [10]:
# 나이<=0 인 값 확인
dataDF['나이'] = dataDF['나이'].where(dataDF['나이'] >= 0, np.nan)

# 결측값 확인
print(f"결측값 처리 후 나이 컬럼에서 NaN 개수: {dataDF['나이'].isnull().sum()}개")

결측값 처리 후 나이 컬럼에서 NaN 개수: 63개

In [11]:
# 음수를 NaN으로 변경하고, NaN을 포함하는 행 제거
dataDF['나이'] = dataDF['나이'].where(dataDF['나이'] >= 0)  # 음수를 NaN으로 변경
dataDF = dataDF.dropna(subset=['나이'])                    # NaN을 포함한 행 제거

In [12]:
# 결측값 재확인
print(f"결측값 처리 후 나이 컬럼에서 NaN 개수: {dataDF['나이'].isnull().sum()}개")

결측값 처리 후 나이 컬럼에서 NaN 개수: 0개

업종 명칭 재분류

In [13]:
dataDF1 = dataDF.sort_values(by=['시군구명','행정동명']) # 정렬값 
dataDF1 # < 시군구명 , 행정동명 기준으로 정렬

             기준일자  시군구명  행정동명 카드사 명칭     업종명칭 성별 거래횟수  총 거래금액    나이
7001     20230901   강서구  가덕도동     부산     서양음식  M    1   31000  35.0
7002     20230901   강서구  가덕도동     부산     일반한식  F    1   32000  61.0
7003     20230901   강서구  가덕도동     부산  농·축·수산품  F    1   60000  61.0
7004     20230901   강서구  가덕도동     하나     서양음식  F    1    6000  33.0
17060    20230901   강서구  가덕도동     하나     서양음식  M    1   48500  38.0
...           ...   ...   ...    ...      ... ..  ...     ...   ...
4753709  20230930  해운대구   중2동     코나      제과점  M    1   20400  51.0
4754502  20230930  해운대구   중2동     코나    편 의 점  M    2   14500  65.0
4755428  20230930  해운대구   중2동     부산     서양음식  M    2    9400  45.0
4755941  20230930  해운대구   중2동     하나     서양음식  F    1    5800  34.0
4755942  20230930  해운대구   중2동     하나      제과점  M    1   23200  49.0

[4756843 rows x 9 columns]

In [14]:
dataDF['업종명칭'].unique()

array(['편 의 점', '일반한식', '스넥', '서양음식', '유류판매', '자동차정비', '농·축·수산품',
       '쌍용S-OIL', '기타잡화', '의원', '약국', '택시', '슈퍼마켓', '예·체능계학원', '제과점',
       '일반서적', '미용원', '한의원', '외국어학원', '동물병원', '세탁소', '사무서비스', '스포츠·레져용품',
       'SK주유소', '정육점', '대형할인점', '주유소', '기타음료식품', '기타 교육기관', '치과의원', '안경',
       '화장품', '사무용 OA기기', '연 쇄 점', '사우나', '병원(응급실 운영)', '기타레져업소', '기계공구',
       '농.축협 직영매장', '중국식', '민예·공예품', '문구용품', '자동차시트·타이어', '미곡상',
       '현대정유(오일뱅크)', '주차장', 'SK가스충전소', '가전제품', '비료.사료.종자', '피부미용실', '이용원',
       'GS주유소', '골프연습장', '비영리/대상', '헬스클럽', '위탁급식업', 'DVD·음반·테이프 판매',
       '미용재료', '문화취미기타', 'DP&E', '컴퓨터', '부동산 중개·임대', '애완동물', '기타유통업',
       '의료용품', '화원', '기타숙박업', '기타건강식품', '기념품점', '2급 호텔', '보습학원',
       '안마/스포츠마사지', '침구·수예점', '레져업소', '치과병원', '주방용식기', '화물운송', '학원',
       '종합병원', '한방병원', '제약회사', '골프용품 전문점', '산후조리원', '기타건축자재', '정장(남성)',
       '일식·회집', '인삼제품', '내의판매', '한약방', '화방·표구점', '액세서리', '조명기구',
       '출판 및 인쇄물', '자동차부품', '신발', '노 래 방', '기타용역서비스', '스포츠 의류',
       '농축수산 가공품', '기타 전문점', '통신기기', '주점', '쌍용S-OIL 가스충전소', '기타전기제품',
       '기능학원', '기타의료기관 및 기타의료기기', '전문서적', '기타가구', '이륜차판매', 'GS 가스충전소',
       '주방용구', '목재·석재·철물', '기타 사무용품', '서적', '수 영 장', '카인테리어', '독서실',
       '일반가구', '사무·통신기기수리', '신변잡화수리', '1급 호텔', '옷감·직물', '종합용역', '기타1',
       '레져용품수리', '가방', '기타4', '학습지 교육', '페인트', '종합레져타운', '완구점', '기타대인서비스',
       '수족관', '카페트.커튼.천막.지물', '주류 판매점', '한정식', '보관및 창고업', '영화관', '갈비전문점',
       '화랑', '기타의류', '세차장', '기타수리서비스', '테니스장', '기타연료', '볼 링 장', '맞춤복점',
       '당 구 장', '인테리어전문', '아동의류', '귀금속', '윤활유 전문 판매', '홍삼제품', '가정용품수리',
       '기타서적문구', 'LPG 취급점', '단체복', '컴퓨터학원', '법률회계서비스(개인)', '시계', '악기점',
       '티켓', '정수기', '보일러·펌프·샷시', '건강식품', '유치원', '소프트웨어', '국산신차 직영부품·정비업소',
       '렌터카', '칵테일바', '관광여행', '제화', '건축용 요업제품', '기타농업관련', '여객선', '유흥주점',
       '기타직물', '유리', '콘도', '단란주점', '농기계', '냉열기기', '가타자동차서비스', '철제가구',
       '유학원', '정기간행물', '법률회계서비스(법인)', '양 품 점', '견인서비스', '카메라', '자동차서비스',
       '기타비영리유통', '기타3', '혼수전문점', '기타광학제품', '과학기자재', '피아노대리점', '비영리/비대상',
       '부동산 분양'], dtype=object)

In [ ]:
replace_list = ['레져용품수리', '골프연습장', '문화취미기타', '레져업소', '기타레져업소', '스포츠·레져용품' 
                '골프용품 전문점', '볼 링 장', '수 영 장', '테니스장', '당 구 장','헬스클럽']

dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '스포츠')

C:\Users\KDP-532\AppData\Local\Temp\ipykernel_9684\369625632.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '스포츠')

In [16]:
replace_list = ['세탁소', '보관및 창고업', '애완동물', '소프트웨어', '기타농업관련', '내열기기', '종합레져타운', '여객선',
                '사우나', '주차장', '비영리/대상', 'DP&E', '기타 전문점',  '통신기기', '기타가구', '목재·석재·철물', '기타1', '기타4', '수족관',
                '세차장', '티켓','기타3','혼수전문점', '비영리/비대상']

dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '기타')

C:\Users\KDP-532\AppData\Local\Temp\ipykernel_9684\2066746430.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '기타')

In [17]:
replace_list = ['기타용역서비스','법률회계서비스(개인)', '영화관', '안마/스포츠마사지', '화물운송','사무·통신기기수리', '기타수리서비스', '인테리어전문',
                '관광여행', '법률회계서비스(법인)', '기타대인서비스', '신변잡화수리', '부동산 분양', '부동산 중개·임대', '종합용역','보일러·펌프·샷시',
                '침구·수예점', '화원', '화랑', '피아노대리점', '가정용품수리']

dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '서비스업')

C:\Users\KDP-532\AppData\Local\Temp\ipykernel_9684\3052002527.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '서비스업')

In [18]:
replace_list = ['기타숙박업', '1급 호텔', '2급 호텔', '콘도']

dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '숙박업')

C:\Users\KDP-532\AppData\Local\Temp\ipykernel_9684\2342063038.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '숙박업')

In [19]:
replace_list = ['가전제품', '컴퓨터', '조명기구', '철제가구', '악기점', '사무서비스', '기계공구', '안경', '완구점', '기타광학제품',
                '비료.사료.종자', '기념품점', '주방용식기', '화방·표구점', '페인트', '농기계', '과학기자재', '건축용 요업제품',
                '미곡상', '기타건축자재', '기타전기제품', '시계', '카메라', '귀금속', '기타잡화', '사무용 OA기기', 
                '문구용품', '민예·공예품', 'DVD·음반·테이프 판매', '기타 사무용품','주방용구','일반가구', '카페트.커튼.천막.지물',
                '정수기', '유리', '냉열기기']

dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '잡화')

C:\Users\KDP-532\AppData\Local\Temp\ipykernel_9684\2277228026.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '잡화')

In [20]:
replace_list = ['일반서적', '출판 및 인쇄물', '기타서적문구', '전문서적', '정기간행물' ,'서적']

dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '서적')

C:\Users\KDP-532\AppData\Local\Temp\ipykernel_9684\1590441609.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '서적')

In [21]:
replace_list = ['기능학원', '유학원', '예·체능계학원', '학습지 교육', '컴퓨터학원', '외국어학원', '기타 교육기관', '유치원', '보습학원',
                '학원', '독서실']

dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '교육')

C:\Users\KDP-532\AppData\Local\Temp\ipykernel_9684\922387877.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '교육')

In [22]:
replace_list = ['택시']

dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '교통')

C:\Users\KDP-532\AppData\Local\Temp\ipykernel_9684\3104301740.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '교통')

In [23]:
replace_list = ['의원', '한의원', '제약회사', '슈퍼마켓', '동물병원', '병원(응급실 운영)', '치과병원', '산후조리원', '치과의원', '의료용품',
                '종합병원', '한약방', '한방병원', '기타의료기관 및 기타의료기기', '약국', '기타건강식품', '건강식품',]

dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '의료 및 보건')

C:\Users\KDP-532\AppData\Local\Temp\ipykernel_9684\1456676450.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '의료 및 보건')

In [24]:
replace_list = ['아동의류', '가방', '기타의류', '내의판매', '신발', '단체복', '기타직물', '제화', '양 품 점', '액세서리', '스포츠 의류',
                '옷감·직물', '정장(남성)', '맞춤복점', '단체복']

dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '의류')

C:\Users\KDP-532\AppData\Local\Temp\ipykernel_9684\511007300.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '의류')

In [25]:
replace_list = ['편 의 점', '대형할인점', '농·축협 직영매장', '농·축·수산품', '기타비영리유통', '농축수산 가공품', 
                '기타유통업', '연 쇄 점', '정육점', '농.축협 직영매장']

dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '유통업')

C:\Users\KDP-532\AppData\Local\Temp\ipykernel_9684\144443364.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '유통업')

In [26]:
replace_list = ['일식·회집', '일반한식', '중국식', '칵테일바', '주류 판매점', '서양음식', '한정식', '갈비전문점', '제과점', '스넥',
                '위탁급식업', '기타음료식품', '홍삼제품', '인삼제품']

dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '음식')

C:\Users\KDP-532\AppData\Local\Temp\ipykernel_9684\1059782745.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '음식')

In [27]:
replace_list = ['주점', '단란주점', '유흥주점', '노 래 방']

dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '유흥주점')

C:\Users\KDP-532\AppData\Local\Temp\ipykernel_9684\2944776665.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '유흥주점')

In [28]:
replace_list = ['미용재료', '미용원', '피부미용실', '화장품', '이용원']

dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '미용')

C:\Users\KDP-532\AppData\Local\Temp\ipykernel_9684\1202460469.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '미용')

In [29]:
replace_list = ['쌍용S-OIL', 'SK주유소', '현대정유(오일뱅크)', 'GS주유소', 'LPG 취급점', 'SK가스충전소', '쌍용S-OIL 가스충전소', '기타연료',
                '주유소', '유류판매', 'GS 가스충전소']

dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '주유소')

C:\Users\KDP-532\AppData\Local\Temp\ipykernel_9684\2690692886.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '주유소')

In [30]:
replace_list = ['자동차부품', '자동차시트·타이어', '윤활유 전문 판매', '견인서비스', '자동차정비', '가타자동차서비스', '자동차서비스',
                '렌터카', '국산신차 직영부품·정비업소', '이륜차판매', '카인테리어']

dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '자동차관련업')

C:\Users\KDP-532\AppData\Local\Temp\ipykernel_9684\866796442.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataDF['업종명칭'] = dataDF['업종명칭'].mask(dataDF['업종명칭'].isin(replace_list), '자동차관련업')

In [31]:
dataDF['업종명칭'].unique()

array(['유통업', '음식', '주유소', '자동차관련업', '잡화', '의료 및 보건', '교통', '교육', '서적',
       '미용', '기타', '스포츠·레져용품', '스포츠', '서비스업', '숙박업', '골프용품 전문점', '의류',
       '유흥주점'], dtype=object)

In [32]:
dataDF1 = dataDF.sort_values(by=['시군구명','행정동명']) # 정렬값 
dataDF1 # < 시군구명 , 행정동명 기준으로 정렬

             기준일자  시군구명  행정동명 카드사 명칭 업종명칭 성별 거래횟수  총 거래금액    나이
7001     20230901   강서구  가덕도동     부산   음식  M    1   31000  35.0
7002     20230901   강서구  가덕도동     부산   음식  F    1   32000  61.0
7003     20230901   강서구  가덕도동     부산  유통업  F    1   60000  61.0
7004     20230901   강서구  가덕도동     하나   음식  F    1    6000  33.0
17060    20230901   강서구  가덕도동     하나   음식  M    1   48500  38.0
...           ...   ...   ...    ...  ... ..  ...     ...   ...
4753709  20230930  해운대구   중2동     코나   음식  M    1   20400  51.0
4754502  20230930  해운대구   중2동     코나  유통업  M    2   14500  65.0
4755428  20230930  해운대구   중2동     부산   음식  M    2    9400  45.0
4755941  20230930  해운대구   중2동     하나   음식  F    1    5800  34.0
4755942  20230930  해운대구   중2동     하나   음식  M    1   23200  49.0

[4756843 rows x 9 columns]

In [33]:
# 인덱스를 순서대로 다시 재정렬
dataDF1 = dataDF1.reset_index()

dataDF1 = dataDF1.drop(columns='index')

dataDF1

             기준일자  시군구명  행정동명 카드사 명칭 업종명칭 성별 거래횟수  총 거래금액    나이
0        20230901   강서구  가덕도동     부산   음식  M    1   31000  35.0
1        20230901   강서구  가덕도동     부산   음식  F    1   32000  61.0
2        20230901   강서구  가덕도동     부산  유통업  F    1   60000  61.0
3        20230901   강서구  가덕도동     하나   음식  F    1    6000  33.0
4        20230901   강서구  가덕도동     하나   음식  M    1   48500  38.0
...           ...   ...   ...    ...  ... ..  ...     ...   ...
4756838  20230930  해운대구   중2동     코나   음식  M    1   20400  51.0
4756839  20230930  해운대구   중2동     코나  유통업  M    2   14500  65.0
4756840  20230930  해운대구   중2동     부산   음식  M    2    9400  45.0
4756841  20230930  해운대구   중2동     하나   음식  F    1    5800  34.0
4756842  20230930  해운대구   중2동     하나   음식  M    1   23200  49.0

[4756843 rows x 9 columns]

[ 데이터 전처리 후 데이터 재확인]

In [34]:
dataDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4756843 entries, 1 to 4756906
Data columns (total 9 columns):
 #   Column  Dtype
---  ------  -----
 0   기준일자    object
 1   시군구명    object
 2   행정동명    object
 3   카드사 명칭  object
 4   업종명칭    object
 5   성별      object
 6   거래횟수    object
 7   총 거래금액  int64
 8   나이      float64
dtypes: float64(1), int64(1), object(7)
memory usage: 362.9+ MB

In [35]:
func01.summary(dataDF,'부산 동백전')

<class 'pandas.core.frame.DataFrame'>
Index: 4756843 entries, 1 to 4756906
Data columns (total 9 columns):
 #   Column  Dtype
---  ------  -----
 0   기준일자    object
 1   시군구명    object
 2   행정동명    object
 3   카드사 명칭  object
 4   업종명칭    object
 5   성별      object
 6   거래횟수    object
 7   총 거래금액  int64
 8   나이      float64
dtypes: float64(1), int64(1), object(7)
memory usage: 362.9+ MB
--[부산 동백전]--

        기준일자 시군구명  행정동명 카드사 명칭 업종명칭 성별 거래횟수  총 거래금액    나이
1  20230901  강서구   녹산동     부산  유통업  M    1    9600  34.0
2  20230901   북구  화명3동     QR   음식  F    1   56200  25.0
--[부산 동백전]--

              기준일자 시군구명  행정동명 카드사 명칭 업종명칭 성별 거래횟수  총 거래금액    나이
4756905  20230901  강서구  명지1동     부산   음식  F    1    1500  38.0
4756906  20230901  강서구  명지1동     QR   교육  M    1  130000  47.0
--[부산 동백전]--

              총 거래금액            나이
count  4.756843e+06  4.756843e+06
mean   2.123527e+04  4.971916e+01
std    4.570762e+04  1.408946e+01
min    1.000000e+00  7.000000e+00
25%    4.100000e+03  3.900000e+01
50%    8.600000e+03  5.000000e+01
75%    2.000000e+04  6.000000e+01
max    1.600000e+06  1.040000e+02

In [36]:
dataDF.describe(include='all')

,기준일자,시군구명,행정동명,카드사 명칭,업종명칭,성별,거래횟수,총 거래금액,나이
count,4756843,4756843,4756843,4756843,4756843,4756843,4756843,4.756843e+06,4.756843e+06
unique,30,16,205,6,18,2,29,NaN,NaN
top,20230927,부산진구,부전1동,코나,음식,F,1,NaN,NaN
freq,210287,662147,96957,1817882,1980034,2647813,4585006,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.123527e+04,4.971916e+01
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.570762e+04,1.408946e+01
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,7.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.100000e+03,3.900000e+01
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.600000e+03,5.000000e+01
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000e+04,6.000000e+01
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.600000e+06,1.040000e+02

[ 데이터 통계치 ] <hr>

In [37]:
# 성별 빈도
gender = dataDF1['성별'].value_counts()

print(gender)

성별
F    2647813
M    2109030
Name: count, dtype: int64

In [38]:
# 카드사 빈도

top_card = dataDF1['카드사 명칭'].value_counts()

print(top_card)

카드사 명칭
코나      1817882
부산      1725047
하나      1103590
농협        73301
동백택시      24795
QR        12228
Name: count, dtype: int64

In [39]:
# 총 유통 금액
e_dataDF1 = dataDF1['총 거래금액'].sum()

e_dataDF1_formatted = "{:,.0f}".format(e_dataDF1)

print(f'총 유통 금액 : {e_dataDF1_formatted}원')

총 유통 금액 : 101,012,844,576원

권역별 유통 금액 <hr>

In [40]:
dataDFt1 = func01.t_price(dataDF1,'강서구')
dataDFt2 = func01.t_price(dataDF1,'금정구')
dataDFt3 = func01.t_price(dataDF1,'기장군')
dataDFt4 = func01.t_price(dataDF1,'남구')

print('1권역권','\n')
print('강서구 총 유통 금액 > ',dataDFt1,'\n')
print('금정구 총 유통 금액 > ',dataDFt2,'\n')
print('기장군 총 유통 금액 > ',dataDFt3,'\n')
print('남구 총 유통 금액 > ',dataDFt4,'\n')

1권역권

강서구 총 유통 금액 >  4751773443

금정구 총 유통 금액 >  7560552267

기장군 총 유통 금액 >  3923565667

남구 총 유통 금액 >  6468447840

In [41]:
dataDFt5 = func01.t_price(dataDF1,'동구')
dataDFt6 = func01.t_price(dataDF1,'동래구')
dataDFt7 = func01.t_price(dataDF1,'부산진구')
dataDFt8 = func01.t_price(dataDF1,'북구')

print('2권역권','\n')
print('동구 총 유통 금액 > ',dataDFt5,'\n')
print('동래구 총 유통 금액 > ',dataDFt6,'\n')
print('부산진구 총 유통 금액 > ',dataDFt7,'\n')
print('북구 총 유통 금액 > ',dataDFt8,'\n')

# 동구 동래구 부산진구 북구

2권역권

동구 총 유통 금액 >  2215825950

동래구 총 유통 금액 >  10441770065

부산진구 총 유통 금액 >  13539427614

북구 총 유통 금액 >  7439981397

In [42]:
dataDFt9 = func01.t_price(dataDF1,'사상구')
dataDFt10 = func01.t_price(dataDF1,'사하구')
dataDFt11 = func01.t_price(dataDF1,'서구')
dataDFt12 = func01.t_price(dataDF1,'수영구')

print('3권역권','\n')
print('사상구 총 유통 금액 > ',dataDFt9,'\n')
print('사하구 총 유통 금액 > ',dataDFt10,'\n')
print('서구 총 유통 금액 > ',dataDFt11,'\n')
print('수영구 총 유통 금액 > ',dataDFt12,'\n')

# 사상구 사하구 서구 수영구

3권역권

사상구 총 유통 금액 >  5627973480

사하구 총 유통 금액 >  6979841423

서구 총 유통 금액 >  2220471717

수영구 총 유통 금액 >  6279097904

In [43]:
dataDFt13 = func01.t_price(dataDF1,'연제구')
dataDFt14 = func01.t_price(dataDF1,'영도구')
dataDFt15 = func01.t_price(dataDF1,'중구')
dataDFt16 = func01.t_price(dataDF1,'해운대구')

print('4권역권')
print('연제구 총 유통 금액 > ',dataDFt13,'\n')
print('영도구 총 유통 금액 > ',dataDFt14,'\n')
print('중구 총 유통 금액 > ',dataDFt15,'\n')
print('해운대구 총 유통 금액 > ',dataDFt16,'\n')

# 연제구 영도구 중구 해운대구

4권역권
연제구 총 유통 금액 >  7226155150

영도구 총 유통 금액 >  1862554692

중구 총 유통 금액 >  2506987061

해운대구 총 유통 금액 >  11968418906

각 권역별 최다 사용 업종 명 및 해당 업종의 총 사용 금액.

In [44]:
def top_use_info(data,region):
    region_df = data[data['시군구명'] == region]
    grouped_df = region_df.groupby('업종명칭')['총 거래금액'].sum()
    most_use_category = grouped_df.idxmax()
    max_amount = grouped_df.max()
    print(f'부산광역시 {region}의 최다 사용 업종명: {most_use_category}') 
    print(f"부산광역시 {region}의 '{most_use_category}'의 총 사용금액 {max_amount}"'\n\n')
print('1권역','\n')
top_use_info(dataDF1,'강서구')
top_use_info(dataDF1,'금정구')
top_use_info(dataDF1,'기장군')
top_use_info(dataDF1,'남구')

1권역

부산광역시 강서구의 최다 사용 업종명: 음식
부산광역시 강서구의 '음식'의 총 사용금액 1506990889


부산광역시 금정구의 최다 사용 업종명: 음식
부산광역시 금정구의 '음식'의 총 사용금액 2783095263


부산광역시 기장군의 최다 사용 업종명: 음식
부산광역시 기장군의 '음식'의 총 사용금액 1489296499


부산광역시 남구의 최다 사용 업종명: 음식
부산광역시 남구의 '음식'의 총 사용금액 2279509611

In [45]:
print('2권역','\n')
top_use_info(dataDF1,'동구')
top_use_info(dataDF1,'동래구')
top_use_info(dataDF1,'부산진구')
top_use_info(dataDF1,'북구')

2권역

부산광역시 동구의 최다 사용 업종명: 음식
부산광역시 동구의 '음식'의 총 사용금액 1001748072


부산광역시 동래구의 최다 사용 업종명: 음식
부산광역시 동래구의 '음식'의 총 사용금액 3468415235


부산광역시 부산진구의 최다 사용 업종명: 음식
부산광역시 부산진구의 '음식'의 총 사용금액 5102133822


부산광역시 북구의 최다 사용 업종명: 음식
부산광역시 북구의 '음식'의 총 사용금액 2325698020

In [46]:
print('3권역','\n')
top_use_info(dataDF1,'사상구')
top_use_info(dataDF1,'사하구')
top_use_info(dataDF1,'서구')
top_use_info(dataDF1,'수영구')

3권역

부산광역시 사상구의 최다 사용 업종명: 음식
부산광역시 사상구의 '음식'의 총 사용금액 1618041079


부산광역시 사하구의 최다 사용 업종명: 음식
부산광역시 사하구의 '음식'의 총 사용금액 2311424031


부산광역시 서구의 최다 사용 업종명: 음식
부산광역시 서구의 '음식'의 총 사용금액 869658635


부산광역시 수영구의 최다 사용 업종명: 음식
부산광역시 수영구의 '음식'의 총 사용금액 2423828190

In [47]:
print('4권역','\n')
top_use_info(dataDF1,'연제구')
top_use_info(dataDF1,'영도구')
top_use_info(dataDF1,'중구')
top_use_info(dataDF1,'해운대구')

4권역

부산광역시 연제구의 최다 사용 업종명: 음식
부산광역시 연제구의 '음식'의 총 사용금액 2615732050


부산광역시 영도구의 최다 사용 업종명: 음식
부산광역시 영도구의 '음식'의 총 사용금액 836913274


부산광역시 중구의 최다 사용 업종명: 음식
부산광역시 중구의 '음식'의 총 사용금액 1284242353


부산광역시 해운대구의 최다 사용 업종명: 음식
부산광역시 해운대구의 '음식'의 총 사용금액 3900365679

각 권역별 최소 사용 업종 명 및 해당 업종의 총 사용 금액.

In [48]:
def bottom_use_info(data,region):
    region_df = data[data['시군구명'] == region]
    grouped_df = region_df.groupby('업종명칭')['총 거래금액'].sum()
    most_use_category = grouped_df.idxmin()
    max_amount = grouped_df.min()
    print(f'부산광역시 {region}의 최소 사용 업종명: {most_use_category}') 
    print(f"부산광역시 {region}의 '{most_use_category}' 총 사용금액 {max_amount}"'\n\n')

print('1권역','\n')
bottom_use_info(dataDF1,'강서구')
bottom_use_info(dataDF1,'금정구')
bottom_use_info(dataDF1,'기장군')
bottom_use_info(dataDF1,'남구')

1권역

부산광역시 강서구의 최소 사용 업종명: 숙박업
부산광역시 강서구의 '숙박업' 총 사용금액 3130799


부산광역시 금정구의 최소 사용 업종명: 숙박업
부산광역시 금정구의 '숙박업' 총 사용금액 1215000


부산광역시 기장군의 최소 사용 업종명: 골프용품 전문점
부산광역시 기장군의 '골프용품 전문점' 총 사용금액 5218000


부산광역시 남구의 최소 사용 업종명: 골프용품 전문점
부산광역시 남구의 '골프용품 전문점' 총 사용금액 1161000

In [49]:
print('2권역','\n')
bottom_use_info(dataDF1,'동구')
bottom_use_info(dataDF1,'동래구')
bottom_use_info(dataDF1,'부산진구')
bottom_use_info(dataDF1,'북구')

2권역

부산광역시 동구의 최소 사용 업종명: 서적
부산광역시 동구의 '서적' 총 사용금액 1591180


부산광역시 동래구의 최소 사용 업종명: 골프용품 전문점
부산광역시 동래구의 '골프용품 전문점' 총 사용금액 5669500


부산광역시 부산진구의 최소 사용 업종명: 골프용품 전문점
부산광역시 부산진구의 '골프용품 전문점' 총 사용금액 4566800


부산광역시 북구의 최소 사용 업종명: 숙박업
부산광역시 북구의 '숙박업' 총 사용금액 2435000

In [50]:
print('3권역','\n')
bottom_use_info(dataDF,'사상구')
bottom_use_info(dataDF,'사하구')
bottom_use_info(dataDF,'서구')
bottom_use_info(dataDF,'수영구')

3권역

부산광역시 사상구의 최소 사용 업종명: 골프용품 전문점
부산광역시 사상구의 '골프용품 전문점' 총 사용금액 6917500


부산광역시 사하구의 최소 사용 업종명: 골프용품 전문점
부산광역시 사하구의 '골프용품 전문점' 총 사용금액 220000


부산광역시 서구의 최소 사용 업종명: 골프용품 전문점
부산광역시 서구의 '골프용품 전문점' 총 사용금액 477000


부산광역시 수영구의 최소 사용 업종명: 골프용품 전문점
부산광역시 수영구의 '골프용품 전문점' 총 사용금액 985000

In [51]:
print('4권역','\n')
bottom_use_info(dataDF1,'연제구')
bottom_use_info(dataDF1,'영도구')
bottom_use_info(dataDF1,'중구')
bottom_use_info(dataDF1,'해운대구')

4권역

부산광역시 연제구의 최소 사용 업종명: 골프용품 전문점
부산광역시 연제구의 '골프용품 전문점' 총 사용금액 2681000


부산광역시 영도구의 최소 사용 업종명: 서적
부산광역시 영도구의 '서적' 총 사용금액 534160


부산광역시 중구의 최소 사용 업종명: 숙박업
부산광역시 중구의 '숙박업' 총 사용금액 2061650


부산광역시 해운대구의 최소 사용 업종명: 골프용품 전문점
부산광역시 해운대구의 '골프용품 전문점' 총 사용금액 11920000

권역별 연령대별 거래량 순위

In [52]:
dataDF1['연령대'] = dataDF1['나이'].apply(func01.cut_age)

def age_chart(data,region):
    dataDF_a = data[data['시군구명'] == region ]
    age_count = dataDF_a['연령대'].value_counts().sort_values(ascending=False)
    print(f"{region}의 연령대별 거래량 순위: \n{age_count}\n")
    
print('1권역','\n')
age_chart(dataDF1,'강서구')
age_chart(dataDF1,'금정구')
age_chart(dataDF1,'기장군')
age_chart(dataDF1,'남구')

1권역

강서구의 연령대별 거래량 순위:
연령대
40대       81999
60대 이상    67452
30대       43291
20대        6703
10대 이하      440
Name: count, dtype: int64

금정구의 연령대별 거래량 순위:
연령대
60대 이상    184383
40대        76894
30대        63506
20대        55732
10대 이하       883
Name: count, dtype: int64

기장군의 연령대별 거래량 순위:
연령대
60대 이상    74666
40대       53003
30대       25660
20대        7227
10대 이하      573
Name: count, dtype: int64

남구의 연령대별 거래량 순위:
연령대
60대 이상    160073
40대        72541
30대        49971
20대        38325
10대 이하       720
Name: count, dtype: int64

In [53]:
print('2권역','\n')
age_chart(dataDF1,'동구')
age_chart(dataDF1,'동래구')
age_chart(dataDF1,'부산진구')
age_chart(dataDF1,'북구')

2권역

동구의 연령대별 거래량 순위:
연령대
60대 이상    65292
40대       29877
30대       28061
20대        8190
10대 이하       67
Name: count, dtype: int64

동래구의 연령대별 거래량 순위:
연령대
60대 이상    237670
40대       111333
30대        72443
20대        29154
10대 이하      1496
Name: count, dtype: int64

부산진구의 연령대별 거래량 순위:
연령대
60대 이상    319380
40대       142432
30대       133933
20대        65283
10대 이하      1119
Name: count, dtype: int64

북구의 연령대별 거래량 순위:
연령대
60대 이상    185167
40대        82984
30대        59468
20대        23309
10대 이하      1031
Name: count, dtype: int64

In [54]:
print('3권역','\n')
age_chart(dataDF1,'사상구')
age_chart(dataDF1,'사하구')
age_chart(dataDF1,'서구')
age_chart(dataDF1,'수영구')

3권역

사상구의 연령대별 거래량 순위:
연령대
60대 이상    138255
40대        59971
30대        49700
20대        22469
10대 이하       404
Name: count, dtype: int64

사하구의 연령대별 거래량 순위:
연령대
60대 이상    183493
40대        81232
30대        53978
20대        26721
10대 이하       701
Name: count, dtype: int64

서구의 연령대별 거래량 순위:
연령대
60대 이상    61700
40대       27606
30대       20884
20대       11369
10대 이하      215
Name: count, dtype: int64

수영구의 연령대별 거래량 순위:
연령대
60대 이상    152965
40대        58427
30대        54549
20대        20780
10대 이하       398
Name: count, dtype: int64

In [55]:
print('4권역','\n')
age_chart(dataDF1,'연제구')
age_chart(dataDF1,'영도구')
age_chart(dataDF1,'중구')
age_chart(dataDF1,'해운대구')

4권역

연제구의 연령대별 거래량 순위:
연령대
60대 이상    173134
40대        83795
30대        58207
20대        20873
10대 이하       658
Name: count, dtype: int64

영도구의 연령대별 거래량 순위:
연령대
60대 이상    56489
40대       22909
30대       15393
20대        7633
10대 이하      119
Name: count, dtype: int64

중구의 연령대별 거래량 순위:
연령대
60대 이상    59934
40대       25018
30대       23017
20대        9707
10대 이하       93
Name: count, dtype: int64

해운대구의 연령대별 거래량 순위:
연령대
60대 이상    267840
40대       124190
30대        86318
20대        32682
10대 이하      1286
Name: count, dtype: int64

권역별 행정동명 취합

In [56]:
d_list = dataDF1['행정동명'].unique()
print(d_list)

['가덕도동' '가락동' '강동동' '녹산동' '대저1동' '대저2동' '명지1동' '명지2동' '구서1동' '구서2동'
 '금사회동동' '금성동' '남산동' '부곡1동' '부곡2동' '부곡3동' '부곡4동' '서1동' '서2동' '서3동' '선두구동'
 '장전1동' '장전2동' '청룡노포동' '기장읍' '일광읍' '장안읍' '정관읍' '철마면' '감만1동' '감만2동' '대연1동'
 '대연3동' '대연4동' '대연5동' '대연6동' '문현1동' '문현2동' '문현3동' '문현4동' '용당동' '용호1동'
 '용호2동' '용호3동' '용호4동' '우암동' '범일1동' '범일2동' '범일5동' '수정1동' '수정2동' '수정4동'
 '수정5동' '좌천동' '초량1동' '초량2동' '초량3동' '초량6동' '명륜동' '명장1동' '명장2동' '반여4동' '복산동'
 '사직1동' '사직2동' '사직3동' '수민동' '안락1동' '안락2동' '온천1동' '온천2동' '온천3동' '가야1동'
 '가야2동' '개금1동' '개금2동' '개금3동' '당감1동' '당감2동' '당감4동' '범천1동' '범천2동' '부암1동'
 '부암3동' '부전1동' '부전2동' '양정1동' '양정2동' '연지동' '전포1동' '전포2동' '초읍동' '구포1동'
 '구포2동' '구포3동' '금곡동' '덕천1동' '덕천2동' '덕천3동' '만덕1동' '만덕2동' '만덕3동' '주례1동'
 '화명1동' '화명2동' '화명3동' '감전동' '괘법동' '덕포1동' '덕포2동' '모라1동' '모라3동' '삼락동' '엄궁동'
 '주례2동' '주례3동' '학장동' '감천1동' '감천2동' '괴정1동' '괴정2동' '괴정3동' '괴정4동' '구평동'
 '다대1동' '다대2동' '당리동' '신평1동' '신평2동' '장림1동' '장림2동' '하단1동' '하단2동' '남부민1동'
 '남부민2동' '동대신1동' '동대신2동' '동대신3동' '부민동' '서대신1동' '서대신3동' '서대신4동' '아미동' '암남동'
 '초장동' '충무동' '광안1동' '광안2동' '광안3동' '광안4동' '남천1동' '남천2동' '망미1동' '망미2동' '민락동'
 '수영동' '거제1동' '거제2동' '거제3동' '거제4동' '연산1동' '연산2동' '연산3동' '연산4동' '연산5동'
 '연산6동' '연산8동' '연산9동' '남항동' '동삼1동' '동삼2동' '동삼3동' '봉래1동' '봉래2동' '신선동'
 '영선1동' '영선2동' '청학1동' '청학2동' '광복동' '남포동' '대청동' '동광동' '보수동' '부평동' '영주1동'
 '영주2동' '중앙동' '반송1동' '반송2동' '반여1동' '반여2동' '반여3동' '송정동' '우1동' '우2동' '우3동'
 '재송1동' '재송2동' '좌1동' '좌2동' '좌3동' '좌4동' '중1동' '중2동']

In [57]:
# 특정 시군구에 대한 소속 행정동을 출력하는 함수
def sigu_dong(data, region):
    grouped_data = data.groupby('시군구명')['행정동명'].agg(lambda x: sorted(set(x)))
    if region in grouped_data:
        districts = ', '.join(grouped_data[region])
        print(f'{region} 소속 행정동: {districts}')

# 권역별 행정동 출력
print('1권역\n')
sigu_dong(dataDF1, '강서구')
sigu_dong(dataDF1, '금정구')
sigu_dong(dataDF1, '기장군')
sigu_dong(dataDF1, '남구')

1권역

강서구 소속 행정동: 가덕도동, 가락동, 강동동, 녹산동, 대저1동, 대저2동, 명지1동, 명지2동
금정구 소속 행정동: 구서1동, 구서2동, 금사회동동, 금성동, 남산동, 부곡1동, 부곡2동, 부곡3동, 부곡4동, 서1동, 서2동, 서3동, 선두구동, 장전1동, 장전2동, 청룡노포동
기장군 소속 행정동: 기장읍, 일광읍, 장안읍, 정관읍, 철마면
남구 소속 행정동: 감만1동, 감만2동, 대연1동, 대연3동, 대연4동, 대연5동, 대연6동, 문현1동, 문현2동, 문현3동, 문현4동, 용당동, 용호1동, 용호2동, 용호3동, 용호4동, 우암동

In [58]:
print('2권역\n')
sigu_dong(dataDF1, '동구')
sigu_dong(dataDF1, '동래구')
sigu_dong(dataDF1, '부산진구')
sigu_dong(dataDF1, '북구')

2권역

동구 소속 행정동: 범일1동, 범일2동, 범일5동, 수정1동, 수정2동, 수정4동, 수정5동, 장안읍, 좌천동, 초량1동, 초량2동, 초량3동, 초량6동
동래구 소속 행정동: 명륜동, 명장1동, 명장2동, 반여4동, 복산동, 사직1동, 사직2동, 사직3동, 수민동, 안락1동, 안락2동, 온천1동, 온천2동, 온천3동
부산진구 소속 행정동: 가야1동, 가야2동, 개금1동, 개금2동, 개금3동, 당감1동, 당감2동, 당감4동, 범천1동, 범천2동, 부암1동, 부암3동, 부전1동, 부전2동, 양정1동, 양정2동, 연지동, 전포1동, 전포2동, 초읍동
북구 소속 행정동: 구포1동, 구포2동, 구포3동, 금곡동, 덕천1동, 덕천2동, 덕천3동, 만덕1동, 만덕2동, 만덕3동, 주례1동, 화명1동, 화명2동, 화명3동

In [59]:
print('3권역\n')
sigu_dong(dataDF1, '사상구')
sigu_dong(dataDF1, '사하구')
sigu_dong(dataDF1, '서구')
sigu_dong(dataDF1, '수영구')

3권역

사상구 소속 행정동: 감전동, 괘법동, 덕포1동, 덕포2동, 모라1동, 모라3동, 삼락동, 엄궁동, 주례1동, 주례2동, 주례3동, 학장동
사하구 소속 행정동: 감천1동, 감천2동, 괴정1동, 괴정2동, 괴정3동, 괴정4동, 구평동, 다대1동, 다대2동, 당리동, 신평1동, 신평2동, 장림1동, 장림2동, 하단1동, 하단2동
서구 소속 행정동: 남부민1동, 남부민2동, 동대신1동, 동대신2동, 동대신3동, 부민동, 서대신1동, 서대신3동, 서대신4동, 아미동, 암남동, 초장동, 충무동
수영구 소속 행정동: 광안1동, 광안2동, 광안3동, 광안4동, 남천1동, 남천2동, 망미1동, 망미2동, 민락동, 수영동

In [60]:
print('4권역\n')
sigu_dong(dataDF1, '연제구')
sigu_dong(dataDF1, '영도구')
sigu_dong(dataDF1, '중구')
sigu_dong(dataDF1, '해운대구')

4권역

연제구 소속 행정동: 거제1동, 거제2동, 거제3동, 거제4동, 연산1동, 연산2동, 연산3동, 연산4동, 연산5동, 연산6동, 연산8동, 연산9동
영도구 소속 행정동: 남항동, 동삼1동, 동삼2동, 동삼3동, 봉래1동, 봉래2동, 신선동, 영선1동, 영선2동, 청학1동, 청학2동
중구 소속 행정동: 광복동, 남포동, 대청동, 동광동, 보수동, 부평동, 영주1동, 영주2동, 중앙동
해운대구 소속 행정동: 반송1동, 반송2동, 반여1동, 반여2동, 반여3동, 반여4동, 송정동, 우1동, 우2동, 우3동, 재송1동, 재송2동, 좌1동, 좌2동, 좌3동, 좌4동, 중1동, 중2동

권역별 행정동 최대 업종명 및 최대 거래 금액

In [61]:
def top_price_districts(data, region):
    dataDF_d = data[data['시군구명'] == region]
    grouped = dataDF_d.groupby('행정동명')[['업종명칭', '총 거래금액']].apply(lambda x: (x['업종명칭'].mode()[0], x['총 거래금액'].sum()))
    for dong, (top_industry, max_amount) in grouped.items():
        print(f'{region} 소속 {dong} 최대 거래금액: {max_amount}원')
        print(f'{region} 소속 {dong} 최대 거래 업종명칭: {top_industry}\n')

# 권역별 행정동 및 거래금액, 업종명칭 출력
print('1권역\n')
top_price_districts(dataDF1, '강서구')
top_price_districts(dataDF1, '금정구')
top_price_districts(dataDF1, '기장군')
top_price_districts(dataDF1, '남구')

1권역

강서구 소속 가덕도동 최대 거래금액: 33953110원
강서구 소속 가덕도동 최대 거래 업종명칭: 유통업

강서구 소속 가락동 최대 거래금액: 31303727원
강서구 소속 가락동 최대 거래 업종명칭: 음식

강서구 소속 강동동 최대 거래금액: 60665232원
강서구 소속 강동동 최대 거래 업종명칭: 주유소

강서구 소속 녹산동 최대 거래금액: 852545606원
강서구 소속 녹산동 최대 거래 업종명칭: 음식

강서구 소속 대저1동 최대 거래금액: 177801153원
강서구 소속 대저1동 최대 거래 업종명칭: 음식

강서구 소속 대저2동 최대 거래금액: 208074284원
강서구 소속 대저2동 최대 거래 업종명칭: 음식

강서구 소속 명지1동 최대 거래금액: 2367604690원
강서구 소속 명지1동 최대 거래 업종명칭: 음식

강서구 소속 명지2동 최대 거래금액: 1019825641원
강서구 소속 명지2동 최대 거래 업종명칭: 음식

금정구 소속 구서1동 최대 거래금액: 980216767원
금정구 소속 구서1동 최대 거래 업종명칭: 음식

금정구 소속 구서2동 최대 거래금액: 815412710원
금정구 소속 구서2동 최대 거래 업종명칭: 의료 및 보건

금정구 소속 금사회동동 최대 거래금액: 177215928원
금정구 소속 금사회동동 최대 거래 업종명칭: 유통업

금정구 소속 금성동 최대 거래금액: 68858590원
금정구 소속 금성동 최대 거래 업종명칭: 음식

금정구 소속 남산동 최대 거래금액: 852587261원
금정구 소속 남산동 최대 거래 업종명칭: 음식

금정구 소속 부곡1동 최대 거래금액: 231008757원
금정구 소속 부곡1동 최대 거래 업종명칭: 유통업

금정구 소속 부곡2동 최대 거래금액: 362624586원
금정구 소속 부곡2동 최대 거래 업종명칭: 음식

금정구 소속 부곡3동 최대 거래금액: 693179140원
금정구 소속 부곡3동 최대 거래 업종명칭: 음식

금정구 소속 부곡4동 최대 거래금액: 305651139원
금정구 소속 부곡4동 최대 거래 업종명칭: 음식

금정구 소속 서1동 최대 거래금액: 27804320원
금정구 소속 서1동 최대 거래 업종명칭: 의료 및 보건

금정구 소속 서2동 최대 거래금액: 148442360원
금정구 소속 서2동 최대 거래 업종명칭: 의료 및 보건

금정구 소속 서3동 최대 거래금액: 283604919원
금정구 소속 서3동 최대 거래 업종명칭: 음식

금정구 소속 선두구동 최대 거래금액: 131850750원
금정구 소속 선두구동 최대 거래 업종명칭: 음식

금정구 소속 장전1동 최대 거래금액: 531920403원
금정구 소속 장전1동 최대 거래 업종명칭: 음식

금정구 소속 장전2동 최대 거래금액: 1720871070원
금정구 소속 장전2동 최대 거래 업종명칭: 음식

금정구 소속 청룡노포동 최대 거래금액: 229303567원
금정구 소속 청룡노포동 최대 거래 업종명칭: 음식

기장군 소속 기장읍 최대 거래금액: 1509701242원
기장군 소속 기장읍 최대 거래 업종명칭: 음식

기장군 소속 일광읍 최대 거래금액: 137006823원
기장군 소속 일광읍 최대 거래 업종명칭: 음식

기장군 소속 장안읍 최대 거래금액: 203652279원
기장군 소속 장안읍 최대 거래 업종명칭: 음식

기장군 소속 정관읍 최대 거래금액: 1850496355원
기장군 소속 정관읍 최대 거래 업종명칭: 음식

기장군 소속 철마면 최대 거래금액: 222708968원
기장군 소속 철마면 최대 거래 업종명칭: 음식

남구 소속 감만1동 최대 거래금액: 82994986원
남구 소속 감만1동 최대 거래 업종명칭: 유통업

남구 소속 감만2동 최대 거래금액: 55739560원
남구 소속 감만2동 최대 거래 업종명칭: 의료 및 보건

남구 소속 대연1동 최대 거래금액: 633465262원
남구 소속 대연1동 최대 거래 업종명칭: 의료 및 보건

남구 소속 대연3동 최대 거래금액: 1693947698원
남구 소속 대연3동 최대 거래 업종명칭: 음식

남구 소속 대연4동 최대 거래금액: 244263936원
남구 소속 대연4동 최대 거래 업종명칭: 음식

남구 소속 대연5동 최대 거래금액: 660768237원
남구 소속 대연5동 최대 거래 업종명칭: 음식

남구 소속 대연6동 최대 거래금액: 322261922원
남구 소속 대연6동 최대 거래 업종명칭: 음식

남구 소속 문현1동 최대 거래금액: 108418980원
남구 소속 문현1동 최대 거래 업종명칭: 유통업

남구 소속 문현2동 최대 거래금액: 201210900원
남구 소속 문현2동 최대 거래 업종명칭: 음식

남구 소속 문현3동 최대 거래금액: 354646224원
남구 소속 문현3동 최대 거래 업종명칭: 음식

남구 소속 문현4동 최대 거래금액: 177548899원
남구 소속 문현4동 최대 거래 업종명칭: 음식

남구 소속 용당동 최대 거래금액: 151569718원
남구 소속 용당동 최대 거래 업종명칭: 음식

남구 소속 용호1동 최대 거래금액: 977581325원
남구 소속 용호1동 최대 거래 업종명칭: 음식

남구 소속 용호2동 최대 거래금액: 254137466원
남구 소속 용호2동 최대 거래 업종명칭: 음식

남구 소속 용호3동 최대 거래금액: 303200906원
남구 소속 용호3동 최대 거래 업종명칭: 의료 및 보건

남구 소속 용호4동 최대 거래금액: 90508030원
남구 소속 용호4동 최대 거래 업종명칭: 음식

남구 소속 우암동 최대 거래금액: 156183791원
남구 소속 우암동 최대 거래 업종명칭: 유통업

In [62]:
print('2권역\n')
top_price_districts(dataDF1, '동구')
top_price_districts(dataDF1, '동래구')
top_price_districts(dataDF1, '부산진구')
top_price_districts(dataDF1, '북구')

2권역

동구 소속 범일1동 최대 거래금액: 122034392원
동구 소속 범일1동 최대 거래 업종명칭: 음식

동구 소속 범일2동 최대 거래금액: 603635912원
동구 소속 범일2동 최대 거래 업종명칭: 음식

동구 소속 범일5동 최대 거래금액: 42868590원
동구 소속 범일5동 최대 거래 업종명칭: 의료 및 보건

동구 소속 수정1동 최대 거래금액: 41787681원
동구 소속 수정1동 최대 거래 업종명칭: 음식

동구 소속 수정2동 최대 거래금액: 385404565원
동구 소속 수정2동 최대 거래 업종명칭: 음식

동구 소속 수정4동 최대 거래금액: 16120990원
동구 소속 수정4동 최대 거래 업종명칭: 의료 및 보건

동구 소속 수정5동 최대 거래금액: 11178210원
동구 소속 수정5동 최대 거래 업종명칭: 유통업

동구 소속 장안읍 최대 거래금액: 139900원
동구 소속 장안읍 최대 거래 업종명칭: 교통

동구 소속 좌천동 최대 거래금액: 97617462원
동구 소속 좌천동 최대 거래 업종명칭: 유통업

동구 소속 초량1동 최대 거래금액: 130744405원
동구 소속 초량1동 최대 거래 업종명칭: 음식

동구 소속 초량2동 최대 거래금액: 275760485원
동구 소속 초량2동 최대 거래 업종명칭: 음식

동구 소속 초량3동 최대 거래금액: 463903928원
동구 소속 초량3동 최대 거래 업종명칭: 음식

동구 소속 초량6동 최대 거래금액: 24629430원
동구 소속 초량6동 최대 거래 업종명칭: 음식

동래구 소속 명륜동 최대 거래금액: 1560258834원
동래구 소속 명륜동 최대 거래 업종명칭: 음식

동래구 소속 명장1동 최대 거래금액: 320099960원
동래구 소속 명장1동 최대 거래 업종명칭: 음식

동래구 소속 명장2동 최대 거래금액: 296720109원
동래구 소속 명장2동 최대 거래 업종명칭: 음식

동래구 소속 반여4동 최대 거래금액: 286700원
동래구 소속 반여4동 최대 거래 업종명칭: 교통

동래구 소속 복산동 최대 거래금액: 220316084원
동래구 소속 복산동 최대 거래 업종명칭: 음식

동래구 소속 사직1동 최대 거래금액: 952737559원
동래구 소속 사직1동 최대 거래 업종명칭: 음식

동래구 소속 사직2동 최대 거래금액: 1032775710원
동래구 소속 사직2동 최대 거래 업종명칭: 음식

동래구 소속 사직3동 최대 거래금액: 609564960원
동래구 소속 사직3동 최대 거래 업종명칭: 의료 및 보건

동래구 소속 수민동 최대 거래금액: 1131980351원
동래구 소속 수민동 최대 거래 업종명칭: 음식

동래구 소속 안락1동 최대 거래금액: 638199067원
동래구 소속 안락1동 최대 거래 업종명칭: 음식

동래구 소속 안락2동 최대 거래금액: 921384240원
동래구 소속 안락2동 최대 거래 업종명칭: 음식

동래구 소속 온천1동 최대 거래금액: 1026584671원
동래구 소속 온천1동 최대 거래 업종명칭: 음식

동래구 소속 온천2동 최대 거래금액: 945461129원
동래구 소속 온천2동 최대 거래 업종명칭: 음식

동래구 소속 온천3동 최대 거래금액: 785400691원
동래구 소속 온천3동 최대 거래 업종명칭: 의료 및 보건

부산진구 소속 가야1동 최대 거래금액: 473246884원
부산진구 소속 가야1동 최대 거래 업종명칭: 유통업

부산진구 소속 가야2동 최대 거래금액: 283588388원
부산진구 소속 가야2동 최대 거래 업종명칭: 음식

부산진구 소속 개금1동 최대 거래금액: 1098028869원
부산진구 소속 개금1동 최대 거래 업종명칭: 의료 및 보건

부산진구 소속 개금2동 최대 거래금액: 208187717원
부산진구 소속 개금2동 최대 거래 업종명칭: 의료 및 보건

부산진구 소속 개금3동 최대 거래금액: 469013525원
부산진구 소속 개금3동 최대 거래 업종명칭: 의료 및 보건

부산진구 소속 당감1동 최대 거래금액: 800253351원
부산진구 소속 당감1동 최대 거래 업종명칭: 의료 및 보건

부산진구 소속 당감2동 최대 거래금액: 210635438원
부산진구 소속 당감2동 최대 거래 업종명칭: 의료 및 보건

부산진구 소속 당감4동 최대 거래금액: 459021344원
부산진구 소속 당감4동 최대 거래 업종명칭: 음식

부산진구 소속 범천1동 최대 거래금액: 598457284원
부산진구 소속 범천1동 최대 거래 업종명칭: 음식

부산진구 소속 범천2동 최대 거래금액: 241622536원
부산진구 소속 범천2동 최대 거래 업종명칭: 음식

부산진구 소속 부암1동 최대 거래금액: 280391410원
부산진구 소속 부암1동 최대 거래 업종명칭: 음식

부산진구 소속 부암3동 최대 거래금액: 305606502원
부산진구 소속 부암3동 최대 거래 업종명칭: 음식

부산진구 소속 부전1동 최대 거래금액: 2333976576원
부산진구 소속 부전1동 최대 거래 업종명칭: 음식

부산진구 소속 부전2동 최대 거래금액: 1984280588원
부산진구 소속 부전2동 최대 거래 업종명칭: 음식

부산진구 소속 양정1동 최대 거래금액: 834926560원
부산진구 소속 양정1동 최대 거래 업종명칭: 음식

부산진구 소속 양정2동 최대 거래금액: 448169698원
부산진구 소속 양정2동 최대 거래 업종명칭: 음식

부산진구 소속 연지동 최대 거래금액: 495903272원
부산진구 소속 연지동 최대 거래 업종명칭: 의료 및 보건

부산진구 소속 전포1동 최대 거래금액: 867921770원
부산진구 소속 전포1동 최대 거래 업종명칭: 음식

부산진구 소속 전포2동 최대 거래금액: 572548581원
부산진구 소속 전포2동 최대 거래 업종명칭: 음식

부산진구 소속 초읍동 최대 거래금액: 573647321원
부산진구 소속 초읍동 최대 거래 업종명칭: 음식

북구 소속 구포1동 최대 거래금액: 627340111원
북구 소속 구포1동 최대 거래 업종명칭: 음식

북구 소속 구포2동 최대 거래금액: 565629510원
북구 소속 구포2동 최대 거래 업종명칭: 음식

북구 소속 구포3동 최대 거래금액: 225825690원
북구 소속 구포3동 최대 거래 업종명칭: 의료 및 보건

북구 소속 금곡동 최대 거래금액: 403169048원
북구 소속 금곡동 최대 거래 업종명칭: 음식

북구 소속 덕천1동 최대 거래금액: 297854131원
북구 소속 덕천1동 최대 거래 업종명칭: 음식

북구 소속 덕천2동 최대 거래금액: 1028702998원
북구 소속 덕천2동 최대 거래 업종명칭: 음식

북구 소속 덕천3동 최대 거래금액: 62055230원
북구 소속 덕천3동 최대 거래 업종명칭: 유통업

북구 소속 만덕1동 최대 거래금액: 342147846원
북구 소속 만덕1동 최대 거래 업종명칭: 음식

북구 소속 만덕2동 최대 거래금액: 592688085원
북구 소속 만덕2동 최대 거래 업종명칭: 의료 및 보건

북구 소속 만덕3동 최대 거래금액: 249350838원
북구 소속 만덕3동 최대 거래 업종명칭: 음식

북구 소속 주례1동 최대 거래금액: 111100원
북구 소속 주례1동 최대 거래 업종명칭: 교통

북구 소속 화명1동 최대 거래금액: 960946732원
북구 소속 화명1동 최대 거래 업종명칭: 음식

북구 소속 화명2동 최대 거래금액: 271225474원
북구 소속 화명2동 최대 거래 업종명칭: 음식

북구 소속 화명3동 최대 거래금액: 1812934604원
북구 소속 화명3동 최대 거래 업종명칭: 음식

In [63]:
print('3권역\n')
top_price_districts(dataDF1, '사상구')
top_price_districts(dataDF1, '사하구')
top_price_districts(dataDF1, '서구')
top_price_districts(dataDF1, '수영구')

3권역

사상구 소속 감전동 최대 거래금액: 422089658원
사상구 소속 감전동 최대 거래 업종명칭: 음식

사상구 소속 괘법동 최대 거래금액: 956174551원
사상구 소속 괘법동 최대 거래 업종명칭: 음식

사상구 소속 덕포1동 최대 거래금액: 240582869원
사상구 소속 덕포1동 최대 거래 업종명칭: 음식

사상구 소속 덕포2동 최대 거래금액: 263747999원
사상구 소속 덕포2동 최대 거래 업종명칭: 의료 및 보건

사상구 소속 모라1동 최대 거래금액: 511959503원
사상구 소속 모라1동 최대 거래 업종명칭: 음식

사상구 소속 모라3동 최대 거래금액: 32683518원
사상구 소속 모라3동 최대 거래 업종명칭: 유통업

사상구 소속 삼락동 최대 거래금액: 157360550원
사상구 소속 삼락동 최대 거래 업종명칭: 음식

사상구 소속 엄궁동 최대 거래금액: 957273082원
사상구 소속 엄궁동 최대 거래 업종명칭: 유통업

사상구 소속 주례1동 최대 거래금액: 225676898원
사상구 소속 주례1동 최대 거래 업종명칭: 유통업

사상구 소속 주례2동 최대 거래금액: 702386829원
사상구 소속 주례2동 최대 거래 업종명칭: 음식

사상구 소속 주례3동 최대 거래금액: 336508423원
사상구 소속 주례3동 최대 거래 업종명칭: 의료 및 보건

사상구 소속 학장동 최대 거래금액: 821529600원
사상구 소속 학장동 최대 거래 업종명칭: 음식

사하구 소속 감천1동 최대 거래금액: 330181265원
사하구 소속 감천1동 최대 거래 업종명칭: 음식

사하구 소속 감천2동 최대 거래금액: 43865000원
사하구 소속 감천2동 최대 거래 업종명칭: 의료 및 보건

사하구 소속 괴정1동 최대 거래금액: 599698172원
사하구 소속 괴정1동 최대 거래 업종명칭: 음식

사하구 소속 괴정2동 최대 거래금액: 176808488원
사하구 소속 괴정2동 최대 거래 업종명칭: 음식

사하구 소속 괴정3동 최대 거래금액: 416223598원
사하구 소속 괴정3동 최대 거래 업종명칭: 유통업

사하구 소속 괴정4동 최대 거래금액: 216968475원
사하구 소속 괴정4동 최대 거래 업종명칭: 음식

사하구 소속 구평동 최대 거래금액: 135956583원
사하구 소속 구평동 최대 거래 업종명칭: 음식

사하구 소속 다대1동 최대 거래금액: 863436968원
사하구 소속 다대1동 최대 거래 업종명칭: 음식

사하구 소속 다대2동 최대 거래금액: 489251545원
사하구 소속 다대2동 최대 거래 업종명칭: 음식

사하구 소속 당리동 최대 거래금액: 880349153원
사하구 소속 당리동 최대 거래 업종명칭: 음식

사하구 소속 신평1동 최대 거래금액: 184045068원
사하구 소속 신평1동 최대 거래 업종명칭: 음식

사하구 소속 신평2동 최대 거래금액: 434086071원
사하구 소속 신평2동 최대 거래 업종명칭: 음식

사하구 소속 장림1동 최대 거래금액: 266045427원
사하구 소속 장림1동 최대 거래 업종명칭: 음식

사하구 소속 장림2동 최대 거래금액: 493220261원
사하구 소속 장림2동 최대 거래 업종명칭: 의료 및 보건

사하구 소속 하단1동 최대 거래금액: 597578771원
사하구 소속 하단1동 최대 거래 업종명칭: 음식

사하구 소속 하단2동 최대 거래금액: 852126578원
사하구 소속 하단2동 최대 거래 업종명칭: 음식

서구 소속 남부민1동 최대 거래금액: 37216950원
서구 소속 남부민1동 최대 거래 업종명칭: 유통업

서구 소속 남부민2동 최대 거래금액: 58588022원
서구 소속 남부민2동 최대 거래 업종명칭: 의료 및 보건

서구 소속 동대신1동 최대 거래금액: 72206670원
서구 소속 동대신1동 최대 거래 업종명칭: 음식

서구 소속 동대신2동 최대 거래금액: 166526691원
서구 소속 동대신2동 최대 거래 업종명칭: 음식

서구 소속 동대신3동 최대 거래금액: 262968673원
서구 소속 동대신3동 최대 거래 업종명칭: 음식

서구 소속 부민동 최대 거래금액: 190129054원
서구 소속 부민동 최대 거래 업종명칭: 음식

서구 소속 서대신1동 최대 거래금액: 363060311원
서구 소속 서대신1동 최대 거래 업종명칭: 음식

서구 소속 서대신3동 최대 거래금액: 186911532원
서구 소속 서대신3동 최대 거래 업종명칭: 음식

서구 소속 서대신4동 최대 거래금액: 136907254원
서구 소속 서대신4동 최대 거래 업종명칭: 의료 및 보건

서구 소속 아미동 최대 거래금액: 107500360원
서구 소속 아미동 최대 거래 업종명칭: 음식

서구 소속 암남동 최대 거래금액: 281707269원
서구 소속 암남동 최대 거래 업종명칭: 음식

서구 소속 초장동 최대 거래금액: 5673230원
서구 소속 초장동 최대 거래 업종명칭: 교통

서구 소속 충무동 최대 거래금액: 351075701원
서구 소속 충무동 최대 거래 업종명칭: 음식

수영구 소속 광안1동 최대 거래금액: 589799135원
수영구 소속 광안1동 최대 거래 업종명칭: 음식

수영구 소속 광안2동 최대 거래금액: 645749296원
수영구 소속 광안2동 최대 거래 업종명칭: 음식

수영구 소속 광안3동 최대 거래금액: 609346679원
수영구 소속 광안3동 최대 거래 업종명칭: 음식

수영구 소속 광안4동 최대 거래금액: 336690262원
수영구 소속 광안4동 최대 거래 업종명칭: 의료 및 보건

수영구 소속 남천1동 최대 거래금액: 1377333148원
수영구 소속 남천1동 최대 거래 업종명칭: 음식

수영구 소속 남천2동 최대 거래금액: 329798877원
수영구 소속 남천2동 최대 거래 업종명칭: 음식

수영구 소속 망미1동 최대 거래금액: 624088244원
수영구 소속 망미1동 최대 거래 업종명칭: 음식

수영구 소속 망미2동 최대 거래금액: 181430735원
수영구 소속 망미2동 최대 거래 업종명칭: 음식

수영구 소속 민락동 최대 거래금액: 978207067원
수영구 소속 민락동 최대 거래 업종명칭: 음식

수영구 소속 수영동 최대 거래금액: 606654461원
수영구 소속 수영동 최대 거래 업종명칭: 음식

In [64]:
print('4권역\n')
top_price_districts(dataDF1, '연제구')
top_price_districts(dataDF1, '영도구')
top_price_districts(dataDF1, '중구')
top_price_districts(dataDF1, '해운대구')

4권역

연제구 소속 거제1동 최대 거래금액: 1097254535원
연제구 소속 거제1동 최대 거래 업종명칭: 음식

연제구 소속 거제2동 최대 거래금액: 525333168원
연제구 소속 거제2동 최대 거래 업종명칭: 음식

연제구 소속 거제3동 최대 거래금액: 542996802원
연제구 소속 거제3동 최대 거래 업종명칭: 음식

연제구 소속 거제4동 최대 거래금액: 57929138원
연제구 소속 거제4동 최대 거래 업종명칭: 유통업

연제구 소속 연산1동 최대 거래금액: 677434494원
연제구 소속 연산1동 최대 거래 업종명칭: 음식

연제구 소속 연산2동 최대 거래금액: 542751076원
연제구 소속 연산2동 최대 거래 업종명칭: 음식

연제구 소속 연산3동 최대 거래금액: 111523769원
연제구 소속 연산3동 최대 거래 업종명칭: 유통업

연제구 소속 연산4동 최대 거래금액: 955152433원
연제구 소속 연산4동 최대 거래 업종명칭: 음식

연제구 소속 연산5동 최대 거래금액: 1127501906원
연제구 소속 연산5동 최대 거래 업종명칭: 음식

연제구 소속 연산6동 최대 거래금액: 249401727원
연제구 소속 연산6동 최대 거래 업종명칭: 유통업

연제구 소속 연산8동 최대 거래금액: 236241195원
연제구 소속 연산8동 최대 거래 업종명칭: 음식

연제구 소속 연산9동 최대 거래금액: 1102634907원
연제구 소속 연산9동 최대 거래 업종명칭: 음식

영도구 소속 남항동 최대 거래금액: 415024935원
영도구 소속 남항동 최대 거래 업종명칭: 음식

영도구 소속 동삼1동 최대 거래금액: 446172888원
영도구 소속 동삼1동 최대 거래 업종명칭: 음식

영도구 소속 동삼2동 최대 거래금액: 106736366원
영도구 소속 동삼2동 최대 거래 업종명칭: 음식

영도구 소속 동삼3동 최대 거래금액: 71345190원
영도구 소속 동삼3동 최대 거래 업종명칭: 음식

영도구 소속 봉래1동 최대 거래금액: 180202974원
영도구 소속 봉래1동 최대 거래 업종명칭: 음식

영도구 소속 봉래2동 최대 거래금액: 28362498원
영도구 소속 봉래2동 최대 거래 업종명칭: 유통업

영도구 소속 신선동 최대 거래금액: 17543428원
영도구 소속 신선동 최대 거래 업종명칭: 음식

영도구 소속 영선1동 최대 거래금액: 253843450원
영도구 소속 영선1동 최대 거래 업종명칭: 음식

영도구 소속 영선2동 최대 거래금액: 70404645원
영도구 소속 영선2동 최대 거래 업종명칭: 음식

영도구 소속 청학1동 최대 거래금액: 48067960원
영도구 소속 청학1동 최대 거래 업종명칭: 유통업

영도구 소속 청학2동 최대 거래금액: 224850358원
영도구 소속 청학2동 최대 거래 업종명칭: 유통업

중구 소속 광복동 최대 거래금액: 427313927원
중구 소속 광복동 최대 거래 업종명칭: 음식

중구 소속 남포동 최대 거래금액: 655455362원
중구 소속 남포동 최대 거래 업종명칭: 음식

중구 소속 대청동 최대 거래금액: 120102965원
중구 소속 대청동 최대 거래 업종명칭: 음식

중구 소속 동광동 최대 거래금액: 99409880원
중구 소속 동광동 최대 거래 업종명칭: 음식

중구 소속 보수동 최대 거래금액: 149433810원
중구 소속 보수동 최대 거래 업종명칭: 음식

중구 소속 부평동 최대 거래금액: 631646206원
중구 소속 부평동 최대 거래 업종명칭: 음식

중구 소속 영주1동 최대 거래금액: 40394320원
중구 소속 영주1동 최대 거래 업종명칭: 음식

중구 소속 영주2동 최대 거래금액: 37444830원
중구 소속 영주2동 최대 거래 업종명칭: 의료 및 보건

중구 소속 중앙동 최대 거래금액: 345785761원
중구 소속 중앙동 최대 거래 업종명칭: 음식

해운대구 소속 반송1동 최대 거래금액: 249023804원
해운대구 소속 반송1동 최대 거래 업종명칭: 음식

해운대구 소속 반송2동 최대 거래금액: 313284443원
해운대구 소속 반송2동 최대 거래 업종명칭: 음식

해운대구 소속 반여1동 최대 거래금액: 1625344544원
해운대구 소속 반여1동 최대 거래 업종명칭: 음식

해운대구 소속 반여2동 최대 거래금액: 189071455원
해운대구 소속 반여2동 최대 거래 업종명칭: 의료 및 보건

해운대구 소속 반여3동 최대 거래금액: 72019235원
해운대구 소속 반여3동 최대 거래 업종명칭: 의료 및 보건

해운대구 소속 반여4동 최대 거래금액: 78638772원
해운대구 소속 반여4동 최대 거래 업종명칭: 음식

해운대구 소속 송정동 최대 거래금액: 659343426원
해운대구 소속 송정동 최대 거래 업종명칭: 음식

해운대구 소속 우1동 최대 거래금액: 639666704원
해운대구 소속 우1동 최대 거래 업종명칭: 음식

해운대구 소속 우2동 최대 거래금액: 1273630010원
해운대구 소속 우2동 최대 거래 업종명칭: 음식

해운대구 소속 우3동 최대 거래금액: 571764936원
해운대구 소속 우3동 최대 거래 업종명칭: 음식

해운대구 소속 재송1동 최대 거래금액: 1229764635원
해운대구 소속 재송1동 최대 거래 업종명칭: 음식

해운대구 소속 재송2동 최대 거래금액: 396218383원
해운대구 소속 재송2동 최대 거래 업종명칭: 의료 및 보건

해운대구 소속 좌1동 최대 거래금액: 1352455268원
해운대구 소속 좌1동 최대 거래 업종명칭: 음식

해운대구 소속 좌2동 최대 거래금액: 1140380515원
해운대구 소속 좌2동 최대 거래 업종명칭: 음식

해운대구 소속 좌3동 최대 거래금액: 190207107원
해운대구 소속 좌3동 최대 거래 업종명칭: 음식

해운대구 소속 좌4동 최대 거래금액: 509573285원
해운대구 소속 좌4동 최대 거래 업종명칭: 음식

해운대구 소속 중1동 최대 거래금액: 1162019544원
해운대구 소속 중1동 최대 거래 업종명칭: 음식

해운대구 소속 중2동 최대 거래금액: 316012840원
해운대구 소속 중2동 최대 거래 업종명칭: 음식

In [65]:
def age_districts(data, region):
    district_data = data[data['시군구명'] == region]
    for dong in district_data['행정동명'].unique():
        dong_data = district_data[district_data['행정동명'] == dong].copy()
        dong_data['연령대'] = dong_data['나이'].apply(func01.cut_age)
        age_distribution = dong_data['연령대'].value_counts().sort_index(ascending=False)
        
        print(f'{region} 소속 {dong} 연령대별 거래량 순위:')
        print(age_distribution)
        print('\n')
        

print('1권역\n')
age_districts(dataDF1, '강서구')
age_districts(dataDF1, '금정구')
age_districts(dataDF1, '기장군')
age_districts(dataDF1, '남구')

1권역

강서구 소속 가덕도동 연령대별 거래량 순위:
연령대
60대 이상    1008
40대        699
30대        529
20대         65
Name: count, dtype: int64


강서구 소속 가락동 연령대별 거래량 순위:
연령대
60대 이상    517
40대       355
30대       318
20대        34
Name: count, dtype: int64


강서구 소속 강동동 연령대별 거래량 순위:
연령대
60대 이상    1159
40대        421
30대        355
20대         62
Name: count, dtype: int64


강서구 소속 녹산동 연령대별 거래량 순위:
연령대
60대 이상    15020
40대       16373
30대        9282
20대        1274
10대 이하       45
Name: count, dtype: int64


강서구 소속 대저1동 연령대별 거래량 순위:
연령대
60대 이상    5016
40대       2302
30대       2172
20대        495
10대 이하       7
Name: count, dtype: int64


강서구 소속 대저2동 연령대별 거래량 순위:
연령대
60대 이상    5197
40대       3405
30대       3195
20대        465
10대 이하      25
Name: count, dtype: int64


강서구 소속 명지1동 연령대별 거래량 순위:
연령대
60대 이상    25051
40대       39813
30대       21139
20대        2897
10대 이하      191
Name: count, dtype: int64


강서구 소속 명지2동 연령대별 거래량 순위:
연령대
60대 이상    14484
40대       18631
30대        6301
20대        1411
10대 이하      172
Name: count, dtype: int64


금정구 소속 구서1동 연령대별 거래량 순위:
연령대
60대 이상    22237
40대       10221
30대        6629
20대        2855
10대 이하      218
Name: count, dtype: int64


금정구 소속 구서2동 연령대별 거래량 순위:
연령대
60대 이상    20774
40대        6894
30대        4467
20대        1872
10대 이하      134
Name: count, dtype: int64


금정구 소속 금사회동동 연령대별 거래량 순위:
연령대
60대 이상    5382
40대       2432
30대       1583
20대        397
10대 이하       4
Name: count, dtype: int64


금정구 소속 금성동 연령대별 거래량 순위:
연령대
60대 이상    989
40대       306
30대       266
20대        65
10대 이하      2
Name: count, dtype: int64


금정구 소속 남산동 연령대별 거래량 순위:
연령대
60대 이상    24266
40대        6926
30대        5764
20대        2628
10대 이하       67
Name: count, dtype: int64


금정구 소속 부곡1동 연령대별 거래량 순위:
연령대
60대 이상    6538
40대       1590
30대        937
20대        351
10대 이하      15
Name: count, dtype: int64


금정구 소속 부곡2동 연령대별 거래량 순위:
연령대
60대 이상    9970
40대       4132
30대       3272
20대       2520
10대 이하      47
Name: count, dtype: int64


금정구 소속 부곡3동 연령대별 거래량 순위:
연령대
60대 이상    20068
40대        8370
30대        6099
20대        3275
10대 이하       75
Name: count, dtype: int64


금정구 소속 부곡4동 연령대별 거래량 순위:
연령대
60대 이상    10126
40대        3130
30대        2675
20대         988
10대 이하       33
Name: count, dtype: int64


금정구 소속 서1동 연령대별 거래량 순위:
연령대
60대 이상    1254
40대        331
30대        241
20대         61
10대 이하       1
Name: count, dtype: int64


금정구 소속 서2동 연령대별 거래량 순위:
연령대
60대 이상    5755
40대       1581
30대       1528
20대        571
10대 이하       7
Name: count, dtype: int64


금정구 소속 서3동 연령대별 거래량 순위:
연령대
60대 이상    11776
40대        3078
30대        1961
20대         712
10대 이하       20
Name: count, dtype: int64


금정구 소속 선두구동 연령대별 거래량 순위:
연령대
60대 이상    2831
40대       1139
30대        766
20대        157
10대 이하       1
Name: count, dtype: int64


금정구 소속 장전1동 연령대별 거래량 순위:
연령대
60대 이상    10739
40대        6019
30대        7295
20대       13826
10대 이하       39
Name: count, dtype: int64


금정구 소속 장전2동 연령대별 거래량 순위:
연령대
60대 이상    24482
40대       18964
30대       18498
20대       24899
10대 이하      206
Name: count, dtype: int64


금정구 소속 청룡노포동 연령대별 거래량 순위:
연령대
60대 이상    7196
40대       1781
30대       1525
20대        555
10대 이하      14
Name: count, dtype: int64


기장군 소속 기장읍 연령대별 거래량 순위:
연령대
60대 이상    33836
40대       14796
30대        9823
20대        3427
10대 이하      107
Name: count, dtype: int64


기장군 소속 일광읍 연령대별 거래량 순위:
연령대
60대 이상    1563
40대       2287
30대       1568
20대        217
10대 이하       5
Name: count, dtype: int64


기장군 소속 장안읍 연령대별 거래량 순위:
연령대
60대 이상    4599
40대       2858
30대       2295
20대        363
10대 이하       8
Name: count, dtype: int64


기장군 소속 정관읍 연령대별 거래량 순위:
연령대
60대 이상    30067
40대       31879
30대       11125
20대        2961
10대 이하      451
Name: count, dtype: int64


기장군 소속 철마면 연령대별 거래량 순위:
연령대
60대 이상    4601
40대       1183
30대        849
20대        259
10대 이하       2
Name: count, dtype: int64


남구 소속 감만1동 연령대별 거래량 순위:
연령대
60대 이상    2904
40대        997
30대        739
20대        282
10대 이하       2
Name: count, dtype: int64


남구 소속 감만2동 연령대별 거래량 순위:
연령대
60대 이상    2228
40대        812
30대        421
20대        164
10대 이하       1
Name: count, dtype: int64


남구 소속 대연1동 연령대별 거래량 순위:
연령대
60대 이상    17619
40대        6598
30대        5520
20대        3406
10대 이하       31
Name: count, dtype: int64


남구 소속 대연3동 연령대별 거래량 순위:
연령대
60대 이상    25909
40대       16219
30대       14365
20대       22913
10대 이하      166
Name: count, dtype: int64


남구 소속 대연4동 연령대별 거래량 순위:
연령대
60대 이상    6320
40대       2942
30대       1773
20대        533
10대 이하      27
Name: count, dtype: int64


남구 소속 대연5동 연령대별 거래량 순위:
연령대
60대 이상    19245
40대        6487
30대        4100
20대        1871
10대 이하       98
Name: count, dtype: int64


남구 소속 대연6동 연령대별 거래량 순위:
연령대
60대 이상    6721
40대       4929
30대       2790
20대        860
10대 이하      37
Name: count, dtype: int64


남구 소속 문현1동 연령대별 거래량 순위:
연령대
60대 이상    3439
40대       1715
30대        852
20대        396
10대 이하      89
Name: count, dtype: int64


남구 소속 문현2동 연령대별 거래량 순위:
연령대
60대 이상    4274
40대       4005
30대       4048
20대        918
10대 이하       3
Name: count, dtype: int64


남구 소속 문현3동 연령대별 거래량 순위:
연령대
60대 이상    9257
40대       5127
30대       3274
20대       1375
10대 이하      33
Name: count, dtype: int64


남구 소속 문현4동 연령대별 거래량 순위:
연령대
60대 이상    4443
40대       1646
30대       1240
20대        802
10대 이하      15
Name: count, dtype: int64


남구 소속 용당동 연령대별 거래량 순위:
연령대
60대 이상    4120
40대       1668
30대        980
20대        926
10대 이하       6
Name: count, dtype: int64


남구 소속 용호1동 연령대별 거래량 순위:
연령대
60대 이상    25792
40대       10564
30대        4837
20대        1934
10대 이하      172
Name: count, dtype: int64


남구 소속 용호2동 연령대별 거래량 순위:
연령대
60대 이상    8764
40대       2707
30대       1347
20대        397
10대 이하       8
Name: count, dtype: int64


남구 소속 용호3동 연령대별 거래량 순위:
연령대
60대 이상    10831
40대        2570
30대        1882
20대         820
10대 이하       13
Name: count, dtype: int64


남구 소속 용호4동 연령대별 거래량 순위:
연령대
60대 이상    2897
40대       1496
30대        802
20대        298
10대 이하      12
Name: count, dtype: int64


남구 소속 우암동 연령대별 거래량 순위:
연령대
60대 이상    5310
40대       2059
30대       1001
20대        430
10대 이하       7
Name: count, dtype: int64

In [66]:
print('2권역\n')
age_districts(dataDF1, '동구')
age_districts(dataDF1, '동래구')
age_districts(dataDF1, '부산진구')
age_districts(dataDF1, '북구')

2권역

동구 소속 범일1동 연령대별 거래량 순위:
연령대
60대 이상    4464
40대       1418
30대       1631
20대        528
10대 이하       5
Name: count, dtype: int64


동구 소속 범일2동 연령대별 거래량 순위:
연령대
60대 이상    16877
40대        6915
30대        5822
20대        1395
10대 이하        4
Name: count, dtype: int64


동구 소속 범일5동 연령대별 거래량 순위:
연령대
60대 이상    1313
40대        986
30대        969
20대        290
Name: count, dtype: int64


동구 소속 수정1동 연령대별 거래량 순위:
연령대
60대 이상    764
40대       560
30대       485
20대       163
Name: count, dtype: int64


동구 소속 수정2동 연령대별 거래량 순위:
연령대
60대 이상    12989
40대        5023
30대        4368
20대        1576
10대 이하       14
Name: count, dtype: int64


동구 소속 수정4동 연령대별 거래량 순위:
연령대
60대 이상    727
40대       242
30대       189
20대        66
Name: count, dtype: int64


동구 소속 수정5동 연령대별 거래량 순위:
연령대
60대 이상    528
40대       185
30대       189
20대        58
Name: count, dtype: int64


동구 소속 장안읍 연령대별 거래량 순위:
연령대
60대 이상    10
40대        6
30대        4
20대        1
Name: count, dtype: int64


동구 소속 좌천동 연령대별 거래량 순위:
연령대
60대 이상    2923
40대       1497
30대       1189
20대        330
10대 이하       2
Name: count, dtype: int64


동구 소속 초량1동 연령대별 거래량 순위:
연령대
60대 이상    3314
40대       1832
30대       2163
20대        508
10대 이하       1
Name: count, dtype: int64


동구 소속 초량2동 연령대별 거래량 순위:
연령대
60대 이상    8342
40대       3613
30대       3212
20대       1162
10대 이하      15
Name: count, dtype: int64


동구 소속 초량3동 연령대별 거래량 순위:
연령대
60대 이상    11984
40대        7196
30대        7544
20대        2032
10대 이하       21
Name: count, dtype: int64


동구 소속 초량6동 연령대별 거래량 순위:
연령대
60대 이상    1057
40대        404
30대        296
20대         81
10대 이하       5
Name: count, dtype: int64


동래구 소속 명륜동 연령대별 거래량 순위:
연령대
60대 이상    23238
40대       15505
30대       11132
20대        5981
10대 이하      266
Name: count, dtype: int64


동래구 소속 명장1동 연령대별 거래량 순위:
연령대
60대 이상    9656
40대       4632
30대       2554
20대       1037
10대 이하      34
Name: count, dtype: int64


동래구 소속 명장2동 연령대별 거래량 순위:
연령대
60대 이상    6219
40대       2374
30대       1714
20대        630
10대 이하      55
Name: count, dtype: int64


동래구 소속 반여4동 연령대별 거래량 순위:
연령대
60대 이상    19
40대        8
30대        7
20대        3
Name: count, dtype: int64


동래구 소속 복산동 연령대별 거래량 순위:
연령대
60대 이상    6307
40대       2159
30대       1253
20대        407
10대 이하      10
Name: count, dtype: int64


동래구 소속 사직1동 연령대별 거래량 순위:
연령대
60대 이상    15648
40대        8887
30대        5035
20대        2619
10대 이하      274
Name: count, dtype: int64


동래구 소속 사직2동 연령대별 거래량 순위:
연령대
60대 이상    19697
40대       11150
30대        4973
20대        2686
10대 이하      292
Name: count, dtype: int64


동래구 소속 사직3동 연령대별 거래량 순위:
연령대
60대 이상    12335
40대        7552
30대        3272
20대        1160
10대 이하       53
Name: count, dtype: int64


동래구 소속 수민동 연령대별 거래량 순위:
연령대
60대 이상    34426
40대       12225
30대        8626
20대        2348
10대 이하      102
Name: count, dtype: int64


동래구 소속 안락1동 연령대별 거래량 순위:
연령대
60대 이상    19194
40대        6869
30대        4277
20대        1397
10대 이하       41
Name: count, dtype: int64


동래구 소속 안락2동 연령대별 거래량 순위:
연령대
60대 이상    22266
40대        9565
30대        5686
20대        2456
10대 이하      147
Name: count, dtype: int64


동래구 소속 온천1동 연령대별 거래량 순위:
연령대
60대 이상    27985
40대       11269
30대        9629
20대        3256
10대 이하       67
Name: count, dtype: int64


동래구 소속 온천2동 연령대별 거래량 순위:
연령대
60대 이상    17407
40대        9994
30대        6778
20대        2148
10대 이하       57
Name: count, dtype: int64


동래구 소속 온천3동 연령대별 거래량 순위:
연령대
60대 이상    23273
40대        9144
30대        7507
20대        3026
10대 이하       98
Name: count, dtype: int64


부산진구 소속 가야1동 연령대별 거래량 순위:
연령대
60대 이상    12973
40대        6081
30대        4398
20대        4590
10대 이하       38
Name: count, dtype: int64


부산진구 소속 가야2동 연령대별 거래량 순위:
연령대
60대 이상    6361
40대       3086
30대       2131
20대        913
10대 이하      34
Name: count, dtype: int64


부산진구 소속 개금1동 연령대별 거래량 순위:
연령대
60대 이상    28227
40대       13730
30대       10562
20대        4646
10대 이하       86
Name: count, dtype: int64


부산진구 소속 개금2동 연령대별 거래량 순위:
연령대
60대 이상    6736
40대       2831
30대       2142
20대        702
10대 이하      21
Name: count, dtype: int64


부산진구 소속 개금3동 연령대별 거래량 순위:
연령대
60대 이상    12419
40대        5169
30대        3286
20대        1358
10대 이하       39
Name: count, dtype: int64


부산진구 소속 당감1동 연령대별 거래량 순위:
연령대
60대 이상    30057
40대        8704
30대        5034
20대        2083
10대 이하       58
Name: count, dtype: int64


부산진구 소속 당감2동 연령대별 거래량 순위:
연령대
60대 이상    8032
40대       3851
30대       3422
20대       1228
10대 이하      16
Name: count, dtype: int64


부산진구 소속 당감4동 연령대별 거래량 순위:
연령대
60대 이상    8408
40대       3735
30대       2504
20대       1215
10대 이하      27
Name: count, dtype: int64


부산진구 소속 범천1동 연령대별 거래량 순위:
연령대
60대 이상    15772
40대        7791
30대        7026
20대        1867
10대 이하       13
Name: count, dtype: int64


부산진구 소속 범천2동 연령대별 거래량 순위:
연령대
60대 이상    7204
40대       3850
30대       3760
20대       1028
10대 이하       6
Name: count, dtype: int64


부산진구 소속 부암1동 연령대별 거래량 순위:
연령대
60대 이상    7419
40대       5535
30대       3859
20대       1124
10대 이하      24
Name: count, dtype: int64


부산진구 소속 부암3동 연령대별 거래량 순위:
연령대
60대 이상    7880
40대       3420
30대       1648
20대        806
10대 이하      26
Name: count, dtype: int64


부산진구 소속 부전1동 연령대별 거래량 순위:
연령대
60대 이상    61544
40대       15080
30대       14864
20대        5420
10대 이하       49
Name: count, dtype: int64


부산진구 소속 부전2동 연령대별 거래량 순위:
연령대
60대 이상    20620
40대       14634
30대       24887
20대       17556
10대 이하      160
Name: count, dtype: int64


부산진구 소속 양정1동 연령대별 거래량 순위:
연령대
60대 이상    20203
40대        9089
30대        7593
20대        3998
10대 이하      174
Name: count, dtype: int64


부산진구 소속 양정2동 연령대별 거래량 순위:
연령대
60대 이상    12342
40대        6458
30대        6973
20대        2748
10대 이하       12
Name: count, dtype: int64


부산진구 소속 연지동 연령대별 거래량 순위:
연령대
60대 이상    13890
40대        6499
30대        3641
20대        1141
10대 이하       70
Name: count, dtype: int64


부산진구 소속 전포1동 연령대별 거래량 순위:
연령대
60대 이상     9083
40대        8258
30대       14117
20대        7783
10대 이하       93
Name: count, dtype: int64


부산진구 소속 전포2동 연령대별 거래량 순위:
연령대
60대 이상    12880
40대        7026
30대        7858
20대        3225
10대 이하       41
Name: count, dtype: int64


부산진구 소속 초읍동 연령대별 거래량 순위:
연령대
60대 이상    17330
40대        7605
30대        4228
20대        1852
10대 이하      132
Name: count, dtype: int64


북구 소속 구포1동 연령대별 거래량 순위:
연령대
60대 이상    21859
40대        4823
30대        3886
20대        1339
10대 이하        4
Name: count, dtype: int64


북구 소속 구포2동 연령대별 거래량 순위:
연령대
60대 이상    13319
40대        6179
30대        5928
20대        1830
10대 이하       51
Name: count, dtype: int64


북구 소속 구포3동 연령대별 거래량 순위:
연령대
60대 이상    6162
40대       2125
30대       1684
20대        792
10대 이하      38
Name: count, dtype: int64


북구 소속 금곡동 연령대별 거래량 순위:
연령대
60대 이상    13258
40대        5696
30대        4058
20대        1652
10대 이하       29
Name: count, dtype: int64


북구 소속 덕천1동 연령대별 거래량 순위:
연령대
60대 이상    8915
40대       2705
30대       2526
20대        873
10대 이하      17
Name: count, dtype: int64


북구 소속 덕천2동 연령대별 거래량 순위:
연령대
60대 이상    20798
40대        8350
30대        9183
20대        3856
10대 이하       49
Name: count, dtype: int64


북구 소속 덕천3동 연령대별 거래량 순위:
연령대
60대 이상    2757
40대        925
30대        583
20대        198
10대 이하       1
Name: count, dtype: int64


북구 소속 만덕1동 연령대별 거래량 순위:
연령대
60대 이상    7321
40대       4761
30대       3549
20대        765
10대 이하      15
Name: count, dtype: int64


북구 소속 만덕2동 연령대별 거래량 순위:
연령대
60대 이상    17486
40대        7946
30대        4367
20대        1390
10대 이하       53
Name: count, dtype: int64


북구 소속 만덕3동 연령대별 거래량 순위:
연령대
60대 이상    5521
40대       2190
30대       1767
20대        663
10대 이하      21
Name: count, dtype: int64


북구 소속 주례1동 연령대별 거래량 순위:
연령대
60대 이상    5
40대       2
30대       1
20대       2
Name: count, dtype: int64


북구 소속 화명1동 연령대별 거래량 순위:
연령대
60대 이상    26733
40대       12589
30대        6977
20대        2257
10대 이하      112
Name: count, dtype: int64


북구 소속 화명2동 연령대별 거래량 순위:
연령대
60대 이상    6981
40대       3193
30대       1980
20대        813
10대 이하      13
Name: count, dtype: int64


북구 소속 화명3동 연령대별 거래량 순위:
연령대
60대 이상    34052
40대       21500
30대       12979
20대        6879
10대 이하      628
Name: count, dtype: int64

In [67]:
print('3권역\n')
age_districts(dataDF1, '사상구')
age_districts(dataDF1, '사하구')
age_districts(dataDF1, '서구')
age_districts(dataDF1, '수영구')

3권역

사상구 소속 감전동 연령대별 거래량 순위:
연령대
60대 이상    13183
40대        6044
30대        5052
20대        1305
10대 이하       16
Name: count, dtype: int64


사상구 소속 괘법동 연령대별 거래량 순위:
연령대
60대 이상    20330
40대       10701
30대       13709
20대        7239
10대 이하       57
Name: count, dtype: int64


사상구 소속 덕포1동 연령대별 거래량 순위:
연령대
60대 이상    5862
40대       2065
30대       1768
20대        562
10대 이하      11
Name: count, dtype: int64


사상구 소속 덕포2동 연령대별 거래량 순위:
연령대
60대 이상    8782
40대       3982
30대       3095
20대       1328
10대 이하      39
Name: count, dtype: int64


사상구 소속 모라1동 연령대별 거래량 순위:
연령대
60대 이상    17290
40대        6636
30대        5015
20대        1946
10대 이하       50
Name: count, dtype: int64


사상구 소속 모라3동 연령대별 거래량 순위:
연령대
60대 이상    1202
40대        400
30대        253
20대         88
10대 이하       8
Name: count, dtype: int64


사상구 소속 삼락동 연령대별 거래량 순위:
연령대
60대 이상    3806
40대       1559
30대        910
20대        307
10대 이하      11
Name: count, dtype: int64


사상구 소속 엄궁동 연령대별 거래량 순위:
연령대
60대 이상    18983
40대        7558
30대        3854
20대        1153
10대 이하       60
Name: count, dtype: int64


사상구 소속 주례1동 연령대별 거래량 순위:
연령대
60대 이상    6735
40대       2731
30대       1901
20대        722
10대 이하       5
Name: count, dtype: int64


사상구 소속 주례2동 연령대별 거래량 순위:
연령대
60대 이상    11734
40대        6509
30대        6115
20대        4668
10대 이하       48
Name: count, dtype: int64


사상구 소속 주례3동 연령대별 거래량 순위:
연령대
60대 이상    10766
40대        3975
30대        3085
20대        1509
10대 이하       31
Name: count, dtype: int64


사상구 소속 학장동 연령대별 거래량 순위:
연령대
60대 이상    19582
40대        7811
30대        4943
20대        1642
10대 이하       68
Name: count, dtype: int64


사하구 소속 감천1동 연령대별 거래량 순위:
연령대
60대 이상    8552
40대       3196
30대       2004
20대        876
10대 이하      22
Name: count, dtype: int64


사하구 소속 감천2동 연령대별 거래량 순위:
연령대
60대 이상    2067
40대        464
30대        319
20대        115
10대 이하       2
Name: count, dtype: int64


사하구 소속 괴정1동 연령대별 거래량 순위:
연령대
60대 이상    15580
40대        6389
30대        4006
20대        1811
10대 이하       70
Name: count, dtype: int64


사하구 소속 괴정2동 연령대별 거래량 순위:
연령대
60대 이상    5370
40대       2533
30대       1599
20대        668
10대 이하      19
Name: count, dtype: int64


사하구 소속 괴정3동 연령대별 거래량 순위:
연령대
60대 이상    13691
40대        4213
30대        2953
20대        1414
10대 이하       45
Name: count, dtype: int64


사하구 소속 괴정4동 연령대별 거래량 순위:
연령대
60대 이상    6394
40대       3110
30대       1845
20대        541
10대 이하      22
Name: count, dtype: int64


사하구 소속 구평동 연령대별 거래량 순위:
연령대
60대 이상    2895
40대       2575
30대       1511
20대        424
10대 이하      12
Name: count, dtype: int64


사하구 소속 다대1동 연령대별 거래량 순위:
연령대
60대 이상    22145
40대        9716
30대        5061
20대        2024
10대 이하      107
Name: count, dtype: int64


사하구 소속 다대2동 연령대별 거래량 순위:
연령대
60대 이상    12805
40대        5739
30대        3438
20대        1615
10대 이하       53
Name: count, dtype: int64


사하구 소속 당리동 연령대별 거래량 순위:
연령대
60대 이상    22040
40대        8970
30대        5733
20대        2076
10대 이하      110
Name: count, dtype: int64


사하구 소속 신평1동 연령대별 거래량 순위:
연령대
60대 이상    6038
40대       2509
30대       1924
20대        536
10대 이하       8
Name: count, dtype: int64


사하구 소속 신평2동 연령대별 거래량 순위:
연령대
60대 이상    9336
40대       5649
30대       4229
20대       1233
10대 이하      16
Name: count, dtype: int64


사하구 소속 장림1동 연령대별 거래량 순위:
연령대
60대 이상    7666
40대       4592
30대       2337
20대        549
10대 이하      18
Name: count, dtype: int64


사하구 소속 장림2동 연령대별 거래량 순위:
연령대
60대 이상    13122
40대        6128
30대        4010
20대        1085
10대 이하       41
Name: count, dtype: int64


사하구 소속 하단1동 연령대별 거래량 순위:
연령대
60대 이상    17199
40대        5877
30대        4470
20대        1746
10대 이하       19
Name: count, dtype: int64


사하구 소속 하단2동 연령대별 거래량 순위:
연령대
60대 이상    18593
40대        9572
30대        8539
20대       10008
10대 이하      137
Name: count, dtype: int64


서구 소속 남부민1동 연령대별 거래량 순위:
연령대
60대 이상    1220
40대        449
30대        329
20대        100
Name: count, dtype: int64


서구 소속 남부민2동 연령대별 거래량 순위:
연령대
60대 이상    2222
40대        695
30대        428
20대        131
Name: count, dtype: int64


서구 소속 동대신1동 연령대별 거래량 순위:
연령대
60대 이상    1603
40대        552
30대        379
20대        168
10대 이하       9
Name: count, dtype: int64


서구 소속 동대신2동 연령대별 거래량 순위:
연령대
60대 이상    2551
40대       1241
30대        865
20대        438
10대 이하      18
Name: count, dtype: int64


서구 소속 동대신3동 연령대별 거래량 순위:
연령대
60대 이상    6853
40대       3893
30대       2606
20대       1593
10대 이하      29
Name: count, dtype: int64


서구 소속 부민동 연령대별 거래량 순위:
연령대
60대 이상    5020
40대       2594
30대       2929
20대       3444
10대 이하       5
Name: count, dtype: int64


서구 소속 서대신1동 연령대별 거래량 순위:
연령대
60대 이상    8970
40대       4580
30대       2979
20대       1271
10대 이하      31
Name: count, dtype: int64


서구 소속 서대신3동 연령대별 거래량 순위:
연령대
60대 이상    3943
40대       2440
30대       1326
20대        714
10대 이하      47
Name: count, dtype: int64


서구 소속 서대신4동 연령대별 거래량 순위:
연령대
60대 이상    4002
40대       1404
30대        737
20대        203
10대 이하      12
Name: count, dtype: int64


서구 소속 아미동 연령대별 거래량 순위:
연령대
60대 이상    3993
40대       1760
30대       1886
20대        642
10대 이하       9
Name: count, dtype: int64


서구 소속 암남동 연령대별 거래량 순위:
연령대
60대 이상    9135
40대       4251
30대       2910
20대       1452
10대 이하       3
Name: count, dtype: int64


서구 소속 초장동 연령대별 거래량 순위:
연령대
60대 이상    178
40대        62
30대        56
20대        33
Name: count, dtype: int64


서구 소속 충무동 연령대별 거래량 순위:
연령대
60대 이상    12010
40대        3685
30대        3454
20대        1180
10대 이하       52
Name: count, dtype: int64


수영구 소속 광안1동 연령대별 거래량 순위:
연령대
60대 이상    13209
40대        5520
30대        7889
20대        2860
10대 이하       74
Name: count, dtype: int64


수영구 소속 광안2동 연령대별 거래량 순위:
연령대
60대 이상    14103
40대        6870
30대        8048
20대        3441
10대 이하       33
Name: count, dtype: int64


수영구 소속 광안3동 연령대별 거래량 순위:
연령대
60대 이상    13939
40대        5248
30대        5823
20대        2124
10대 이하       17
Name: count, dtype: int64


수영구 소속 광안4동 연령대별 거래량 순위:
연령대
60대 이상    12184
40대        4587
30대        3470
20대        1228
10대 이하       18
Name: count, dtype: int64


수영구 소속 남천1동 연령대별 거래량 순위:
연령대
60대 이상    27580
40대        9931
30대        7081
20대        2620
10대 이하      137
Name: count, dtype: int64


수영구 소속 남천2동 연령대별 거래량 순위:
연령대
60대 이상    6695
40대       3440
30대       2906
20대       1040
10대 이하      11
Name: count, dtype: int64


수영구 소속 망미1동 연령대별 거래량 순위:
연령대
60대 이상    20191
40대        6774
30대        4333
20대        1753
10대 이하       56
Name: count, dtype: int64


수영구 소속 망미2동 연령대별 거래량 순위:
연령대
60대 이상    4158
40대       1740
30대       1215
20대        366
10대 이하       5
Name: count, dtype: int64


수영구 소속 민락동 연령대별 거래량 순위:
연령대
60대 이상    18986
40대        8477
30대        8605
20대        3386
10대 이하       26
Name: count, dtype: int64


수영구 소속 수영동 연령대별 거래량 순위:
연령대
60대 이상    21920
40대        5840
30대        5179
20대        1962
10대 이하       21
Name: count, dtype: int64

In [68]:
print('4권역\n')
age_districts(dataDF1, '연제구')
age_districts(dataDF1, '영도구')
age_districts(dataDF1, '중구')
age_districts(dataDF1, '해운대구')

4권역

연제구 소속 거제1동 연령대별 거래량 순위:
연령대
60대 이상    21444
40대       14401
30대        7270
20대        4483
10대 이하      259
Name: count, dtype: int64


연제구 소속 거제2동 연령대별 거래량 순위:
연령대
60대 이상    8029
40대       4470
30대       2139
20대        807
10대 이하      70
Name: count, dtype: int64


연제구 소속 거제3동 연령대별 거래량 순위:
연령대
60대 이상    11918
40대        4096
30대        2932
20대         704
10대 이하       24
Name: count, dtype: int64


연제구 소속 거제4동 연령대별 거래량 순위:
연령대
60대 이상    1990
40대       1056
30대        680
20대        330
10대 이하      15
Name: count, dtype: int64


연제구 소속 연산1동 연령대별 거래량 순위:
연령대
60대 이상    15153
40대        8062
30대        5403
20대        1665
10대 이하       32
Name: count, dtype: int64


연제구 소속 연산2동 연령대별 거래량 순위:
연령대
60대 이상    14277
40대        9127
30대        7307
20대        1762
10대 이하       35
Name: count, dtype: int64


연제구 소속 연산3동 연령대별 거래량 순위:
연령대
60대 이상    5508
40대       2175
30대       1577
20대        511
10대 이하      12
Name: count, dtype: int64


연제구 소속 연산4동 연령대별 거래량 순위:
연령대
60대 이상    28942
40대        9435
30대        7392
20대        2717
10대 이하       35
Name: count, dtype: int64


연제구 소속 연산5동 연령대별 거래량 순위:
연령대
60대 이상    23320
40대       12536
30대       11910
20대        3509
10대 이하       34
Name: count, dtype: int64


연제구 소속 연산6동 연령대별 거래량 순위:
연령대
60대 이상    6747
40대       3079
30대       2197
20대        600
10대 이하      11
Name: count, dtype: int64


연제구 소속 연산8동 연령대별 거래량 순위:
연령대
60대 이상    7662
40대       3811
30대       2106
20대        594
10대 이하      14
Name: count, dtype: int64


연제구 소속 연산9동 연령대별 거래량 순위:
연령대
60대 이상    28144
40대       11547
30대        7294
20대        3191
10대 이하      117
Name: count, dtype: int64


영도구 소속 남항동 연령대별 거래량 순위:
연령대
60대 이상    12782
40대        4690
30대        3205
20대        1092
10대 이하       14
Name: count, dtype: int64


영도구 소속 동삼1동 연령대별 거래량 순위:
연령대
60대 이상    13093
40대        5482
30대        3615
20대        1617
10대 이하       47
Name: count, dtype: int64


영도구 소속 동삼2동 연령대별 거래량 순위:
연령대
60대 이상    2339
40대       1355
30대        955
20대        701
10대 이하       4
Name: count, dtype: int64


영도구 소속 동삼3동 연령대별 거래량 순위:
연령대
60대 이상    1892
40대        717
30대        559
20대        199
10대 이하       3
Name: count, dtype: int64


영도구 소속 봉래1동 연령대별 거래량 순위:
연령대
60대 이상    4768
40대       2157
30대       1183
20대        610
10대 이하      16
Name: count, dtype: int64


영도구 소속 봉래2동 연령대별 거래량 순위:
연령대
60대 이상    1222
40대        829
30대        506
20대        138
10대 이하       5
Name: count, dtype: int64


영도구 소속 신선동 연령대별 거래량 순위:
연령대
60대 이상    716
40대       246
30대       142
20대        85
Name: count, dtype: int64


영도구 소속 영선1동 연령대별 거래량 순위:
연령대
60대 이상    8605
40대       2759
30대       1716
20대        614
10대 이하       8
Name: count, dtype: int64


영도구 소속 영선2동 연령대별 거래량 순위:
연령대
60대 이상    2322
40대        837
30대        687
20대        274
10대 이하      13
Name: count, dtype: int64


영도구 소속 청학1동 연령대별 거래량 순위:
연령대
60대 이상    1760
40대        771
30대        456
20대        117
10대 이하       2
Name: count, dtype: int64


영도구 소속 청학2동 연령대별 거래량 순위:
연령대
60대 이상    6990
40대       3066
30대       2369
20대       2186
10대 이하       7
Name: count, dtype: int64


중구 소속 광복동 연령대별 거래량 순위:
연령대
60대 이상    7826
40대       4046
30대       3384
20대       1744
10대 이하      26
Name: count, dtype: int64


중구 소속 남포동 연령대별 거래량 순위:
연령대
60대 이상    12875
40대        4015
30대        3821
20대        2191
10대 이하       23
Name: count, dtype: int64


중구 소속 대청동 연령대별 거래량 순위:
연령대
60대 이상    3710
40대       1382
30대       1237
20대        459
10대 이하       3
Name: count, dtype: int64


중구 소속 동광동 연령대별 거래량 순위:
연령대
60대 이상    3037
40대       1435
30대       1462
20대        448
10대 이하       5
Name: count, dtype: int64


중구 소속 보수동 연령대별 거래량 순위:
연령대
60대 이상    5198
40대       2155
30대       1526
20대        787
10대 이하       8
Name: count, dtype: int64


중구 소속 부평동 연령대별 거래량 순위:
연령대
60대 이상    14480
40대        4428
30대        3689
20대        1853
10대 이하        9
Name: count, dtype: int64


중구 소속 영주1동 연령대별 거래량 순위:
연령대
60대 이상    1543
40대        666
30대        680
20대        239
Name: count, dtype: int64


중구 소속 영주2동 연령대별 거래량 순위:
연령대
60대 이상    2159
40대        711
30대        436
20대        126
10대 이하       7
Name: count, dtype: int64


중구 소속 중앙동 연령대별 거래량 순위:
연령대
60대 이상    9106
40대       6180
30대       6782
20대       1860
10대 이하      12
Name: count, dtype: int64


해운대구 소속 반송1동 연령대별 거래량 순위:
연령대
60대 이상    9615
40대       2957
30대       1859
20대        900
10대 이하       8
Name: count, dtype: int64


해운대구 소속 반송2동 연령대별 거래량 순위:
연령대
60대 이상    11119
40대        4016
30대        2515
20대         811
10대 이하       11
Name: count, dtype: int64


해운대구 소속 반여1동 연령대별 거래량 순위:
연령대
60대 이상    32146
40대       13335
30대        7024
20대        2868
10대 이하      235
Name: count, dtype: int64


해운대구 소속 반여2동 연령대별 거래량 순위:
연령대
60대 이상    8193
40대       2174
30대       1684
20대        830
10대 이하      15
Name: count, dtype: int64


해운대구 소속 반여3동 연령대별 거래량 순위:
연령대
60대 이상    2771
40대        771
30대        547
20대        269
Name: count, dtype: int64


해운대구 소속 반여4동 연령대별 거래량 순위:
연령대
60대 이상    2819
40대       1739
30대       1144
20대        439
10대 이하      12
Name: count, dtype: int64


해운대구 소속 송정동 연령대별 거래량 순위:
연령대
60대 이상    11455
40대        4555
30대        4103
20대        1120
10대 이하       12
Name: count, dtype: int64


해운대구 소속 우1동 연령대별 거래량 순위:
연령대
60대 이상    16409
40대        7177
30대        6548
20대        2776
10대 이하       65
Name: count, dtype: int64


해운대구 소속 우2동 연령대별 거래량 순위:
연령대
60대 이상    24763
40대       15615
30대       13385
20대        5556
10대 이하      116
Name: count, dtype: int64


해운대구 소속 우3동 연령대별 거래량 순위:
연령대
60대 이상    11202
40대        6388
30대        3691
20대        1275
10대 이하       58
Name: count, dtype: int64


해운대구 소속 재송1동 연령대별 거래량 순위:
연령대
60대 이상    25363
40대       16802
30대        9520
20대        2743
10대 이하      136
Name: count, dtype: int64


해운대구 소속 재송2동 연령대별 거래량 순위:
연령대
60대 이상    12517
40대        4437
30대        2969
20대        1527
10대 이하       42
Name: count, dtype: int64


해운대구 소속 좌1동 연령대별 거래량 순위:
연령대
60대 이상    30876
40대       10881
30대        7357
20대        2829
10대 이하      148
Name: count, dtype: int64


해운대구 소속 좌2동 연령대별 거래량 순위:
연령대
60대 이상    22332
40대       11326
30대        9169
20대        3647
10대 이하      196
Name: count, dtype: int64


해운대구 소속 좌3동 연령대별 거래량 순위:
연령대
60대 이상    5200
40대       1878
30대       1150
20대        528
10대 이하      44
Name: count, dtype: int64


해운대구 소속 좌4동 연령대별 거래량 순위:
연령대
60대 이상    12328
40대        6147
30대        3240
20대        1245
10대 이하      108
Name: count, dtype: int64


해운대구 소속 중1동 연령대별 거래량 순위:
연령대
60대 이상    23347
40대       11130
30대        8240
20대        2734
10대 이하       74
Name: count, dtype: int64


해운대구 소속 중2동 연령대별 거래량 순위:
연령대
60대 이상    5385
40대       2862
30대       2173
20대        585
10대 이하       6
Name: count, dtype: int64